In [148]:
import pandas as pd

dfp = pd.read_excel(r"C:\Users\kian3\OneDrive - KU Leuven\Documents\lessen\MDA\Project\cordis-HORIZONprojects-xlsx\project.xlsx")
dfo = pd.read_excel(r"C:\Users\kian3\OneDrive - KU Leuven\Documents\lessen\MDA\Project\cordis-HORIZONprojects-xlsx\organization.xlsx")

c:\Users\kian3\OneDrive - KU Leuven\Documents\lessen\MDA\Project\project\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [149]:
dfoutput1 = pd.read_excel(r"C:\Users\kian3\OneDrive - KU Leuven\Documents\lessen\MDA\Project\project_output_part_1.xlsx")
dfoutput2 = pd.read_excel(r"C:\Users\kian3\OneDrive - KU Leuven\Documents\lessen\MDA\Project\project_output_part_2.xlsx")

In [150]:
df_full_output= pd.concat([dfoutput1, dfoutput2], axis=0, ignore_index=True, verify_integrity=True)
print(df_full_output)

              id                                          objective  \
0      101116741  How do longstanding, primarily non-industrial,...
1      101163161  The James Webb Space Telescope (JWST) has ushe...
2      101160499  The spatiotemporal organization of the cell ma...
3      101166905  The Milky Way is the cosmic environment in whi...
4      101162875  Cellular organisms are complex machines whose ...
...          ...                                                ...
15336  101114220  The primary objective of the work performed wi...
15337  101114193  Bibi Blomqvist co-founder and COO of Cogo ApS....
15338  101114191  In Women TechEU, HORIZER aims, over the next 9...
15339  101114035  A product recall is the process of retrieving ...
15340  101121353  Engage2innovate (E2i) will investigate and add...

                                             main_topics  \
0      ['digital technologies', 'economic diversity',...
1      ['Astrochemistry', 'Quantum Dynamics', 'Infrar...
2      ['biophysics', 'molecular biology', 'computati...
3        ['Galactic cartography', 'Milky Way structure']
4      ['Nanosensing', 'Biological parameters monitor...
...                                                  ...
15336  ['innovation', 'product development', 'technol...
15337  ['shared mobility', 'sustainability', 'urban t...
15338  ['business model testing', 'market research', ...
15339  ['product recall', 'risk assessment', 'consume...
15340  ['security research', 'social innovation', 'hu...

             scientific_domain          problem_type  \
0                 Anthropology  fundamental research
1                      Physics  fundamental research
2                      biology  fundamental research
3                 Astrophysics  fundamental research
4                Biotechnology  fundamental research
...                        ...                   ...
15336               technology      applied research
15337           transportation      applied research
15338                   energy      applied research
15339  business and innovation      applied research
15340         Computer Science      applied research

                     expected_impact  sustainability  \
0           ['societal', 'economic']             0.0
1      ['technological', 'societal']             0.0
2      ['societal', 'technological']             0.0
3      ['technological', 'societal']             0.0
4      ['societal', 'technological']             0.0
...                              ...             ...
15336  ['technological', 'economic']             0.0
15337  ['societal', 'environmental']             1.0
15338  ['societal', 'technological']             0.0
15339       ['societal', 'economic']             0.0
15340  ['societal', 'technological']             0.0

                                        semantic_summary
0      This project explores how non-industrial socie...
1      The project aims to revolutionize astrochemist...
2      The project 'In-phase' aims to develop a compu...
3      The project aims to create a comprehensive thr...
4      The MAtCHLESS project aims to develop a reliab...
...                                                  ...
15336  The project aims to bring innovation to a stag...
15337  The project aims to revolutionize urban transp...
15338  HORIZER's Women TechEU project aims to transfo...
15339  The project focuses on developing iComplai, a ...
15340  Engage2innovate (E2i) focuses on addressing ba...

[15341 rows x 8 columns]

In [151]:
print(dfo.head())

   projectID projectAcronym  organisationID       vatNumber  \
0  101116741            DOE       999981634  NL811383696B01
1  101163161        IRASTRO       999997736      DK31119103
2  101163161        IRASTRO       999854855     DE138408327
3  101163161        IRASTRO       999990267     DE129517720
4  101160499       In-phase       999874546     ESQ2818014I

                                                name shortName    SME  \
0                              WAGENINGEN UNIVERSITY        WU  False
1                                 AARHUS UNIVERSITET        AU  False
2                               UNIVERSITAET POTSDAM        UP  False
3  MAX-PLANCK-GESELLSCHAFT ZUR FORDERUNG DER WISS...       MPG  False
4                  UNIVERSIDAD COMPLUTENSE DE MADRID       UCM  False

  activityType                street postCode  ...  \
0          HES  DROEVENDAALSESTEEG 4  6708 PB  ...
1          HES     NORDRE RINGGADE 1     8000  ...
2          HES   AM NEUEN PALAIS  10    14469  ...
3          REC    HOFGARTENSTRASSE 8    80539  ...
4          HES   AVENIDA DE SENECA 2    28040  ...

                                         contactForm    contentUpdateDate  \
0  https://ec.europa.eu/info/funding-tenders/oppo...  2023-12-26 14:40:12
1  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
2  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
3  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
4  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:11

       rcn order         role ecContribution netEcContribution  totalCost  \
0  1906458     1  coordinator      1499998.0         1499998.0    1499998
1  1905956     2  participant      4246240.0         4246240.0    4246240
2  1908936     3  participant      1982813.0         1982813.0    1982813
3  1949732     1  coordinator      5856310.0         5856310.0    5856310
4  1906229     1  coordinator      1489128.0         1489128.0    1489128

   endOfParticipation active
0               False    NaN
1               False    NaN
2               False    NaN
3               False    NaN
4               False    NaN

[5 rows x 25 columns]

In [196]:
print(dfp.shape)
print(dfo.shape)
# One to one merge dfp and df_full_output
newdf = dfp.merge(df_full_output, on="id")
### One to many merge newdf and dfo, except 100249 rows in fulldf
fulldf = newdf.merge(dfo, left_on="id", right_on="projectID", validate="one_to_many")
print(fulldf)

(15341, 20)
(100249, 25)
               id   acronym  status  \
0       101116741       DOE  SIGNED
1       101163161   IRASTRO  SIGNED
2       101163161   IRASTRO  SIGNED
3       101163161   IRASTRO  SIGNED
4       101160499  In-phase  SIGNED
...           ...       ...     ...
100244  101121353       E2i  SIGNED
100245  101121353       E2i  SIGNED
100246  101121353       E2i  SIGNED
100247  101121353       E2i  SIGNED
100248  101121353       E2i  SIGNED

                                                    title   startDate  \
0       Digitizing Other Economies: A Comparative Appr...  2024-02-01
1       MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01
2       MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01
3       MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01
4       Multiscale modelling of aberrant phase transit...  2025-06-01
...                                                   ...         ...
100244  Engage2innovate – Enhancing security solution ...  2023-08-01
100245  Engage2innovate – Enhancing security solution ...  2023-08-01
100246  Engage2innovate – Enhancing security solution ...  2023-08-01
100247  Engage2innovate – Enhancing security solution ...  2023-08-01
100248  Engage2innovate – Enhancing security solution ...  2023-08-01

           endDate totalCost_x ecMaxContribution   legalBasis  \
0       2029-01-31     1499998           1499998  HORIZON.1.1
1       2031-07-31    12085363          12085363  HORIZON.1.1
2       2031-07-31    12085363          12085363  HORIZON.1.1
3       2031-07-31    12085363          12085363  HORIZON.1.1
4       2030-05-31     1489128           1489128  HORIZON.1.1
...            ...         ...               ...          ...
100244  2027-03-31     1286125           1286125  HORIZON.2.3
100245  2027-03-31     1286125           1286125  HORIZON.2.3
100246  2027-03-31     1286125           1286125  HORIZON.2.3
100247  2027-03-31     1286125           1286125  HORIZON.2.3
100248  2027-03-31     1286125           1286125  HORIZON.2.3

                             topics  ...  \
0                      ERC-2023-STG  ...
1                      ERC-2024-SyG  ...
2                      ERC-2024-SyG  ...
3                      ERC-2024-SyG  ...
4                      ERC-2024-STG  ...
...                             ...  ...
100244  HORIZON-CL3-2022-SSRI-01-04  ...
100245  HORIZON-CL3-2022-SSRI-01-04  ...
100246  HORIZON-CL3-2022-SSRI-01-04  ...
100247  HORIZON-CL3-2022-SSRI-01-04  ...
100248  HORIZON-CL3-2022-SSRI-01-04  ...

                                              contactForm  \
0       https://ec.europa.eu/info/funding-tenders/oppo...
1       https://ec.europa.eu/info/funding-tenders/oppo...
2       https://ec.europa.eu/info/funding-tenders/oppo...
3       https://ec.europa.eu/info/funding-tenders/oppo...
4       https://ec.europa.eu/info/funding-tenders/oppo...
...                                                   ...
100244  https://ec.europa.eu/info/funding-tenders/oppo...
100245  https://ec.europa.eu/info/funding-tenders/oppo...
100246  https://ec.europa.eu/info/funding-tenders/oppo...
100247  https://ec.europa.eu/info/funding-tenders/oppo...
100248  https://ec.europa.eu/info/funding-tenders/oppo...

        contentUpdateDate_y    rcn_y order               role  ecContribution  \
0       2023-12-26 14:40:12  1906458     1        coordinator      1499998.00
1       2025-02-24 17:23:14  1905956     2        participant      4246240.00
2       2025-02-24 17:23:14  1908936     3        participant      1982813.00
3       2025-02-24 17:23:14  1949732     1        coordinator      5856310.00
4       2025-02-24 17:23:11  1906229     1        coordinator      1489128.00
...                     ...      ...   ...                ...             ...
100244  2023-08-10 18:08:28  1946979     5  associatedPartner             NaN
100245  2023-08-10 18:08:28  1946983     4        participant       311172.50
100246  2023-08-10 18:08:28  1946981     3        participant       262848.75
100247  2023-08-10 18:08:28  1933629     2        participant       358562.50
100248  2023-08-10 18:08:28  1909673     6  associatedPartner             NaN

       netEcContribution totalCost_y  endOfParticipation active
0             1499998.00     1499998               False    NaN
1             4246240.00     4246240               False    NaN
2             1982813.00     1982813               False    NaN
3             5856310.00     5856310               False    NaN
4             1489128.00     1489128               False    NaN
...                  ...         ...                 ...    ...
100244              0.00           0               False    NaN
100245         311172.50    311172,5               False    NaN
100246         262848.75   262848,75               False    NaN
100247         358562.50    358562,5               False    NaN
100248              0.00           0               False    NaN

[100249 rows x 52 columns]

In [197]:
print(fulldf.head())
print(fulldf.info())

          id   acronym  status  \
0  101116741       DOE  SIGNED
1  101163161   IRASTRO  SIGNED
2  101163161   IRASTRO  SIGNED
3  101163161   IRASTRO  SIGNED
4  101160499  In-phase  SIGNED

                                               title   startDate     endDate  \
0  Digitizing Other Economies: A Comparative Appr...  2024-02-01  2029-01-31
1  MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01  2031-07-31
2  MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01  2031-07-31
3  MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01  2031-07-31
4  Multiscale modelling of aberrant phase transit...  2025-06-01  2030-05-31

  totalCost_x ecMaxContribution   legalBasis        topics  ...  \
0     1499998           1499998  HORIZON.1.1  ERC-2023-STG  ...
1    12085363          12085363  HORIZON.1.1  ERC-2024-SyG  ...
2    12085363          12085363  HORIZON.1.1  ERC-2024-SyG  ...
3    12085363          12085363  HORIZON.1.1  ERC-2024-SyG  ...
4     1489128           1489128  HORIZON.1.1  ERC-2024-STG  ...

                                         contactForm  contentUpdateDate_y  \
0  https://ec.europa.eu/info/funding-tenders/oppo...  2023-12-26 14:40:12
1  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
2  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
3  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
4  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:11

     rcn_y order         role  ecContribution netEcContribution totalCost_y  \
0  1906458     1  coordinator       1499998.0         1499998.0     1499998
1  1905956     2  participant       4246240.0         4246240.0     4246240
2  1908936     3  participant       1982813.0         1982813.0     1982813
3  1949732     1  coordinator       5856310.0         5856310.0     5856310
4  1906229     1  coordinator       1489128.0         1489128.0     1489128

   endOfParticipation active
0               False    NaN
1               False    NaN
2               False    NaN
3               False    NaN
4               False    NaN

[5 rows x 52 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Data columns (total 52 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   100249 non-null  int64
 1   acronym              100249 non-null  object
 2   status               100249 non-null  object
 3   title                100249 non-null  object
 4   startDate            100249 non-null  object
 5   endDate              100249 non-null  object
 6   totalCost_x          100249 non-null  object
 7   ecMaxContribution    100249 non-null  object
 8   legalBasis           100249 non-null  object
 9   topics               100249 non-null  object
 10  ecSignatureDate      100231 non-null  object
 11  frameworkProgramme   100249 non-null  object
 12  masterCall           100249 non-null  object
 13  subCall              100249 non-null  object
 14  fundingScheme        100248 non-null  object
 15  nature               0 non-null       float64
 16  objective_x          100249 non-null  object
 17  contentUpdateDate_x  100249 non-null  object
 18  rcn_x                100249 non-null  int64
 19  grantDoi             98904 non-null   object
 20  objective_y          100249 non-null  object
 21  main_topics          100157 non-null  object
 22  scientific_domain    99201 non-null   object
 23  problem_type         100157 non-null  object
 24  expected_impact      100157 non-null  object
 25  sustainability       100157 non-null  float64
 26  semantic_summary     100157 non-null  object
 27  projectID            100249 non-null  int64
 28  projectAcronym       100249 non-null  object
 29  organisationID       100249 non-null  int64
 30  vatNumber            84846 non-null   object
 31  name                 100249 non-null  object
 32  shortName            74742 non-null   object
 33  SME                  99986 non-null   object
 34  activityType         100225 non-null  object
 35  street               99949 non-null   object
 36  postCode             99463 non-null   object
 37  city                 99986 non-null   object
 38  country              100236 non-null  object
 39  nutsCode             99971 non-null   object
 40  geolocation          99661 non-null   object
 41  organizationURL      61295 non-null   object
 42  contactForm          100249 non-null  object
 43  contentUpdateDate_y  100249 non-null  object
 44  rcn_y                100249 non-null  int64
 45  order                100249 non-null  int64
 46  role                 100249 non-null  object
 47  ecContribution       84545 non-null   float64
 48  netEcContribution    100207 non-null  float64
 49  totalCost_y          99313 non-null   object
 50  endOfParticipation   100249 non-null  bool
 51  active               0 non-null       float64
dtypes: bool(1), float64(5), int64(6), object(40)
memory usage: 39.1+ MB
None

In [198]:
# Delete active and nature (empty)
fulldf = fulldf.drop(columns=["active", "nature"])

In [199]:
print(fulldf.head())
print(fulldf.info())
print(fulldf.shape)
print(fulldf.describe())

          id   acronym  status  \
0  101116741       DOE  SIGNED
1  101163161   IRASTRO  SIGNED
2  101163161   IRASTRO  SIGNED
3  101163161   IRASTRO  SIGNED
4  101160499  In-phase  SIGNED

                                               title   startDate     endDate  \
0  Digitizing Other Economies: A Comparative Appr...  2024-02-01  2029-01-31
1  MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01  2031-07-31
2  MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01  2031-07-31
3  MOLECULAR QUANTUM DYNAMICS IN LOW TEMPERATURE ...  2025-08-01  2031-07-31
4  Multiscale modelling of aberrant phase transit...  2025-06-01  2030-05-31

  totalCost_x ecMaxContribution   legalBasis        topics  ...  \
0     1499998           1499998  HORIZON.1.1  ERC-2023-STG  ...
1    12085363          12085363  HORIZON.1.1  ERC-2024-SyG  ...
2    12085363          12085363  HORIZON.1.1  ERC-2024-SyG  ...
3    12085363          12085363  HORIZON.1.1  ERC-2024-SyG  ...
4     1489128           1489128  HORIZON.1.1  ERC-2024-STG  ...

                     organizationURL  \
0  http://www.wageningenur.nl/nl.htm
1                   http://www.au.dk
2          http://www.uni-potsdam.de
3                  http://www.mpg.de
4                  http://www.ucm.es

                                         contactForm  contentUpdateDate_y  \
0  https://ec.europa.eu/info/funding-tenders/oppo...  2023-12-26 14:40:12
1  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
2  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
3  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:14
4  https://ec.europa.eu/info/funding-tenders/oppo...  2025-02-24 17:23:11

     rcn_y order         role ecContribution  netEcContribution totalCost_y  \
0  1906458     1  coordinator      1499998.0          1499998.0     1499998
1  1905956     2  participant      4246240.0          4246240.0     4246240
2  1908936     3  participant      1982813.0          1982813.0     1982813
3  1949732     1  coordinator      5856310.0          5856310.0     5856310
4  1906229     1  coordinator      1489128.0          1489128.0     1489128

  endOfParticipation
0              False
1              False
2              False
3              False
4              False

[5 rows x 50 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Data columns (total 50 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   100249 non-null  int64
 1   acronym              100249 non-null  object
 2   status               100249 non-null  object
 3   title                100249 non-null  object
 4   startDate            100249 non-null  object
 5   endDate              100249 non-null  object
 6   totalCost_x          100249 non-null  object
 7   ecMaxContribution    100249 non-null  object
 8   legalBasis           100249 non-null  object
 9   topics               100249 non-null  object
 10  ecSignatureDate      100231 non-null  object
 11  frameworkProgramme   100249 non-null  object
 12  masterCall           100249 non-null  object
 13  subCall              100249 non-null  object
 14  fundingScheme        100248 non-null  object
 15  objective_x          100249 non-null  object
 16  contentUpdateDate_x  100249 non-null  object
 17  rcn_x                100249 non-null  int64
 18  grantDoi             98904 non-null   object
 19  objective_y          100249 non-null  object
 20  main_topics          100157 non-null  object
 21  scientific_domain    99201 non-null   object
 22  problem_type         100157 non-null  object
 23  expected_impact      100157 non-null  object
 24  sustainability       100157 non-null  float64
 25  semantic_summary     100157 non-null  object
 26  projectID            100249 non-null  int64
 27  projectAcronym       100249 non-null  object
 28  organisationID       100249 non-null  int64
 29  vatNumber            84846 non-null   object
 30  name                 100249 non-null  object
 31  shortName            74742 non-null   object
 32  SME                  99986 non-null   object
 33  activityType         100225 non-null  object
 34  street               99949 non-null   object
 35  postCode             99463 non-null   object
 36  city                 99986 non-null   object
 37  country              100236 non-null  object
 38  nutsCode             99971 non-null   object
 39  geolocation          99661 non-null   object
 40  organizationURL      61295 non-null   object
 41  contactForm          100249 non-null  object
 42  contentUpdateDate_y  100249 non-null  object
 43  rcn_y                100249 non-null  int64
 44  order                100249 non-null  int64
 45  role                 100249 non-null  object
 46  ecContribution       84545 non-null   float64
 47  netEcContribution    100207 non-null  float64
 48  totalCost_y          99313 non-null   object
 49  endOfParticipation   100249 non-null  bool
dtypes: bool(1), float64(3), int64(6), object(40)
memory usage: 37.6+ MB
None
(100249, 50)
                 id          rcn_x  sustainability     projectID  \
count  1.002490e+05  100249.000000   100157.000000  1.002490e+05
mean   1.015230e+08  252706.127772        0.642242  1.015230e+08
std    6.024056e+06   10016.661067        0.479343  6.024056e+06
min    1.010390e+08  237915.000000        0.000000  1.010390e+08
25%    1.010799e+08  242522.000000        0.000000  1.010799e+08
50%    1.011127e+08  254632.000000        1.000000  1.011127e+08
75%    1.011393e+08  262082.000000        1.000000  1.011393e+08
max    1.901999e+08  268971.000000        1.000000  1.901999e+08

       organisationID         rcn_y          order  ecContribution  \
count    1.002490e+05  1.002490e+05  100249.000000    8.454500e+04
mean     9.660163e+08  2.010841e+06       9.132670    5.185332e+05
std      4.387874e+07  2.257320e+05      10.012959    2.471223e+06
min      8.746348e+08  1.905548e+06       1.000000    0.000000e+00
25%      9.246476e+08  1.906872e+06       3.000000    1.508890e+05
50%      9.982900e+08  1.922674e+06       7.000000    2.826936e+05
75%      9.998930e+08  1.981663e+06      12.000000    5.193562e+05
max      9.999979e+08  3.146861e+06     175.000000    4.326332e+08

       netEcContribution
count       1.002070e+05
mean        4.362490e+05
std         2.175750e+06
min         0.000000e+00
25%         7.937500e+04
50%         2.319712e+05
75%         4.552188e+05
max         4.326332e+08

In [200]:
# To save memory and speed ML training save categorical variables as category datatype
print(fulldf["status"].dtype)
print(fulldf["status"].nbytes)
fulldf["status"] = fulldf["status"].astype("category")
print(fulldf["status"].nbytes)
fulldf["status"].dtype

object
801992
100273

CategoricalDtype(categories=['CLOSED', 'SIGNED', 'TERMINATED'], ordered=False, categories_dtype=object)

In [201]:
# Can be used to include features about the amount of coordinators, participants, ... of a project
print(fulldf["role"].dtype)
print(fulldf["role"].nbytes)
fulldf["role"] = fulldf["role"].astype("category")
print(fulldf["role"].nbytes)
fulldf["role"].dtype

object
801992
100281

CategoricalDtype(categories=['associatedPartner', 'coordinator', 'participant',
                  'thirdParty'],
, ordered=False, categories_dtype=object)

In [202]:
# 15 different levels, maybe add as a feature?
print(fulldf["legalBasis"].dtype)
print(fulldf["legalBasis"].nbytes)
fulldf["legalBasis"] = fulldf["legalBasis"].astype("category")
print(fulldf["legalBasis"].nbytes)
fulldf["legalBasis"].dtype

object
801992
100369

CategoricalDtype(categories=['EURATOM2027', 'HORIZON.1.1', 'HORIZON.1.2', 'HORIZON.1.3',
                  'HORIZON.2.1', 'HORIZON.2.2', 'HORIZON.2.3', 'HORIZON.2.4',
                  'HORIZON.2.5', 'HORIZON.2.6', 'HORIZON.3.1', 'HORIZON.3.2',
                  'HORIZON.3.3', 'HORIZON.4.1', 'HORIZON.4.2'],
, ordered=False, categories_dtype=object)

In [203]:
# too many, only use our topic feature
print(fulldf["topics"].dtype)
print(fulldf["topics"].nbytes)
fulldf["topics"] = fulldf["topics"].astype("category")
print(fulldf["topics"].nbytes)
fulldf["topics"].dtype

object
801992
216842

CategoricalDtype(categories=['ERC-2021-ADG', 'ERC-2021-COG', 'ERC-2021-STG',
                  'ERC-2022-ADG', 'ERC-2022-COG', 'ERC-2022-POC1',
                  'ERC-2022-POC2', 'ERC-2022-STG', 'ERC-2022-SyG',
                  'ERC-2023-ADG',
                  ...
                  'HORIZON-WIDERA-2024-ERA-01-01',
                  'HORIZON-WIDERA-2024-ERA-01-03',
                  'HORIZON-WIDERA-2024-ERA-01-04',
                  'HORIZON-WIDERA-2024-ERA-01-07',
                  'HORIZON-WIDERA-2024-ERA-01-08',
                  'HORIZON-WIDERA-2024-ERA-01-09',
                  'HORIZON-WIDERA-2024-ERA-01-11',
                  'HORIZON-WIDERA-2024-ERA-01-12',
                  'HORIZON-WIDERA-2024-EUCYS-IBA',
                  'HORIZON-WIDERA-2024-WIRE-IBA'],
, ordered=False, categories_dtype=object)

In [204]:
# one category, will be dropped as it is not informative
print(fulldf["frameworkProgramme"].dtype)
print(fulldf["frameworkProgramme"].nbytes)
fulldf["frameworkProgramme"] = fulldf["frameworkProgramme"].astype("category")
print(fulldf["frameworkProgramme"].nbytes)
fulldf["frameworkProgramme"].dtype
fulldf = fulldf.drop(columns=["frameworkProgramme"])

object
801992
100257

In [205]:
# Also too many levels, looks like topics (test dubble columns later)
print(fulldf["masterCall"].dtype)
print(fulldf["masterCall"].nbytes)
fulldf["masterCall"] = fulldf["masterCall"].astype("category")
print(fulldf["masterCall"].nbytes)
fulldf["masterCall"].dtype

object
801992
204402

CategoricalDtype(categories=['ERC-2021-ADG', 'ERC-2021-COG', 'ERC-2021-STG',
                  'ERC-2022-ADG', 'ERC-2022-COG', 'ERC-2022-POC1',
                  'ERC-2022-POC2', 'ERC-2022-STG', 'ERC-2022-SYG',
                  'ERC-2023-ADG',
                  ...
                  'HORIZON-WIDERA-2023-ESOF-IBA',
                  'HORIZON-WIDERA-2023-EU-CECR-IBA',
                  'HORIZON-WIDERA-2023-EUCYS-IBA',
                  'HORIZON-WIDERA-2023-RESAVER-IBA',
                  'HORIZON-WIDERA-2023-TALENTS-01',
                  'HORIZON-WIDERA-2023-TALENTS-02',
                  'HORIZON-WIDERA-2024-COST-SGA', 'HORIZON-WIDERA-2024-ERA-01',
                  'HORIZON-WIDERA-2024-EUCYS-IBA',
                  'HORIZON-WIDERA-2024-WIRE-IBA'],
, ordered=False, categories_dtype=object)

In [206]:
# Also too many levels, looks like topics and mastercall (test dubble columns later)
print(fulldf["subCall"].dtype)
print(fulldf["subCall"].nbytes)
fulldf["subCall"] = fulldf["subCall"].astype("category")
print(fulldf["subCall"].nbytes)
fulldf["subCall"].dtype

object
801992
204402

CategoricalDtype(categories=['ERC-2021-ADG', 'ERC-2021-COG', 'ERC-2021-STG',
                  'ERC-2022-ADG', 'ERC-2022-COG', 'ERC-2022-POC1',
                  'ERC-2022-POC2', 'ERC-2022-STG', 'ERC-2022-SYG',
                  'ERC-2023-ADG',
                  ...
                  'HORIZON-WIDERA-2023-ESOF-IBA',
                  'HORIZON-WIDERA-2023-EU-CECR-IBA',
                  'HORIZON-WIDERA-2023-EUCYS-IBA',
                  'HORIZON-WIDERA-2023-RESAVER-IBA',
                  'HORIZON-WIDERA-2023-TALENTS-01',
                  'HORIZON-WIDERA-2023-TALENTS-02',
                  'HORIZON-WIDERA-2024-COST-SGA', 'HORIZON-WIDERA-2024-ERA-01',
                  'HORIZON-WIDERA-2024-EUCYS-IBA',
                  'HORIZON-WIDERA-2024-WIRE-IBA'],
, ordered=False, categories_dtype=object)

In [207]:
# +30 cat's but looks like there is a lot of subschemes (ERC, EURATOM, HORIZON, EI...)
print(fulldf["fundingScheme"].dtype)
print(fulldf["fundingScheme"].nbytes)
fulldf["fundingScheme"] = fulldf["fundingScheme"].astype("category")
print(fulldf["fundingScheme"].nbytes)
fulldf["fundingScheme"].dtype

object
801992
100561

CategoricalDtype(categories=['CSA', 'EIC', 'EIC-ACC', 'ERC', 'ERC-POC', 'ERC-SYG',
                  'EURATOM-COFUND', 'EURATOM-CSA', 'EURATOM-IA', 'EURATOM-RIA',
                  'HORIZON-AG', 'HORIZON-AG-LS', 'HORIZON-AG-UN',
                  'HORIZON-COFUND', 'HORIZON-CSA', 'HORIZON-EIC',
                  'HORIZON-EIC-ACC', 'HORIZON-EIC-ACC-BF', 'HORIZON-EIT-KIC',
                  'HORIZON-ERC', 'HORIZON-ERC-POC', 'HORIZON-ERC-SYG',
                  'HORIZON-IA', 'HORIZON-JU-CSA', 'HORIZON-JU-IA',
                  'HORIZON-JU-RIA', 'HORIZON-PCP', 'HORIZON-RIA',
                  'HORIZON-TMA-MSCA-Cofund-D', 'HORIZON-TMA-MSCA-Cofund-P',
                  'HORIZON-TMA-MSCA-DN', 'HORIZON-TMA-MSCA-DN-ID',
                  'HORIZON-TMA-MSCA-DN-JD', 'HORIZON-TMA-MSCA-PF-EF',
                  'HORIZON-TMA-MSCA-PF-GF', 'HORIZON-TMA-MSCA-SE', 'IA',
                  'MSCA-PF', 'RIA'],
, ordered=False, categories_dtype=object)

In [208]:
# possible feature if we want to do something with the originizations activity types
print(fulldf["activityType"].dtype)
print(fulldf["activityType"].nbytes)
fulldf["activityType"] = fulldf["activityType"].astype("category")
print(fulldf["activityType"].nbytes)
fulldf["activityType"].dtype

object
801992
100289

CategoricalDtype(categories=['HES', 'OTH', 'PRC', 'PUB', 'REC'], ordered=False, categories_dtype=object)

In [209]:
# Maybe if we want to group variables in region and then check influence on funding? Or put on a worldmap?
# Can also use the column nutscode, EU's nomenclature for deviding in statistical regions, see next cell
print(fulldf["country"].dtype)
print(fulldf["country"].nbytes)
fulldf["country"] = fulldf["country"].astype("category")
print(fulldf["country"].nbytes)
fulldf["country"].dtype

object
801992
201858

CategoricalDtype(categories=['AD', 'AE', 'AF', 'AI', 'AL', 'AM', 'AO', 'AR', 'AT', 'AU',
                  ...
                  'US', 'UY', 'UZ', 'VA', 'VE', 'VN', 'XK', 'ZA', 'ZM', 'ZW'],
, ordered=False, categories_dtype=object)

In [210]:
# A lot, better to group on country level maybe?
print(fulldf["nutsCode"].dtype)
print(fulldf["nutsCode"].nbytes)
fulldf["nutsCode"] = fulldf["nutsCode"].astype("category")
print(fulldf["nutsCode"].nbytes)
fulldf["nutsCode"].dtype

object
801992
212122

CategoricalDtype(categories=['AD', 'AE', 'AF', 'AI', 'AL', 'AL012', 'AL022', 'AM', 'AO',
                  'AR',
                  ...
                  'US', 'UY', 'UZ', 'VA', 'VE', 'VN', 'XK', 'ZA', 'ZM', 'ZW'],
, ordered=False, categories_dtype=object)

In [211]:
print(fulldf["order"].dtype)
print(fulldf["order"].nbytes)
fulldf["order"] = fulldf["order"].astype("category")
print(fulldf["order"].nbytes)
fulldf["order"].dtype

int64
801992
201898

CategoricalDtype(categories=[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
                  ...
                  166, 167, 168, 169, 170, 171, 172, 173, 174, 175],
, ordered=False, categories_dtype=int64)

In [212]:
print(fulldf["main_topics"].dtype)
print(fulldf["main_topics"].nbytes)
fulldf["main_topics"] = fulldf["main_topics"].astype("category")
print(fulldf["main_topics"].nbytes)
fulldf["main_topics"].dtype

object
801992
322666

CategoricalDtype(categories=['["Alzheimer's Disease", 'Genetics', 'Neurodegeneration', 'PET Imaging']',
                  '["Alzheimer's Disease", 'Neurodegeneration', 'Drug Development']',
                  '["Alzheimer's Disease", 'Point of Care Testing', 'Cognitive Impairment']',
                  '["Alzheimer's disease diagnostics", 'Blood-based biomarkers']',
                  '["Alzheimer's disease diagnostics", 'plasma biomarkers', 'digital cognitive tests']',
                  '["Alzheimer's disease pathogenesis", 'immune system interactions', 'bioactive lipids']',
                  '["Alzheimer's disease pathology", 'Neuroinflammation', 'Microglia subpopulations']',
                  '["Alzheimer's disease research", 'Gene therapy', 'Nanocarriers']',
                  '["Alzheimer's disease", 'Amyloid-beta protein', 'Neuroinflammation', 'Neurodegeneration']',
                  '["Alzheimer's disease", 'Nasu-Hakola disease', 'microglia dysfunction', 'TREM2 expression']',
                  ...
                  '['youth mental health', 'intervention development', 'implementation models']',
                  '['youth political engagement', 'adolescent brain development']',
                  '['youth transition to adulthood', 'qualitative research', 'participatory arts-based method']',
                  '['youth unemployment', 'food systems', 'sustainability', 'innovation', 'entrepreneurship', 'trade policies', 'climate change']',
                  '['youth', 'forced migration', 'social integration']',
                  '['zebrafish research', 'non-communicable diseases', 'genetics', 'bioinformatics']',
                  '['zero-emission vehicles', 'powertrains', 'modularity', 'AI-based management']',
                  '['zero-emission vehicles', 'sustainable transportation', 'energy efficiency']',
                  '['zoology', 'natural history', 'knowledge transfer']',
                  '[]'],
, ordered=False, categories_dtype=object)

In [213]:
# Still a lot, maybe group further like 'urban planning', 'urban studies' as urban
print(fulldf["scientific_domain"].dtype)
print(fulldf["scientific_domain"].nbytes)
fulldf[" scientific_domain"] = fulldf["scientific_domain"].astype("category")
print(fulldf["scientific_domain"].nbytes)
fulldf[" scientific_domain"].dtype

object
801992
801992

CategoricalDtype(categories=['Aerospace engineering', 'Agricultural Sciences',
                  'Anthropology', 'Archaeology', 'Architecture',
                  'Artificial Intelligence', 'Astrophysics', 'Biochemistry',
                  'Biology', 'Biomedical Sciences',
                  ...
                  'political science', 'psychology', 'quantum physics',
                  'robotics', 'technology', 'telecommunications',
                  'telecommunications engineering', 'transportation',
                  'urban planning', 'urban studies'],
, ordered=False, categories_dtype=object)

In [214]:
# Some with upper case some without, convert this to capitalized categories
print(fulldf["problem_type"].dtype)
print(fulldf["problem_type"].nbytes)
fulldf["problem_type"] = fulldf["problem_type"].astype("category")
print(fulldf["problem_type"].nbytes)
fulldf["problem_type"].dtype

object
801992
100329

CategoricalDtype(categories=['Applied Research', 'Applied research', 'Confidential',
                  'Fundamental Research', 'Fundamental research',
                  'Translational Research', 'Translational research',
                  'applied research', 'fundamental research',
                  'translational research'],
, ordered=False, categories_dtype=object)

In [215]:
# some with 1, some 2 ... maybe make 1 or try to have all 2 or 3 for example? (the more the more categories)
print(fulldf["expected_impact"].dtype)
print(fulldf["expected_impact"].nbytes)
fulldf["expected_impact"] = fulldf["expected_impact"].astype("category")
print(fulldf["expected_impact"].nbytes)
fulldf["expected_impact"].dtype

object
801992
100841

CategoricalDtype(categories=['Confidential', 'Societal',
                  '['Societal', 'Economic', 'Environmental']',
                  '['Societal', 'Economic']',
                  '['Societal', 'Environmental', 'Economic']',
                  '['Societal', 'Environmental']',
                  '['Societal', 'Technological', 'Economic']',
                  '['Societal', 'Technological', 'Environmental', 'Economic']',
                  '['Societal', 'Technological', 'Environmental']',
                  '['Societal', 'Technological']', '['Societal']',
                  '['Technological', 'Economic']',
                  '['Technological', 'Environmental']',
                  '['Technological', 'Societal']',
                  '['economic', 'environmental']', '['economic', 'societal']',
                  '['economic', 'technological', 'societal']', '['economic']',
                  '['environmental', 'economic']',
                  '['environmental', 'societal']',
                  '['environmental', 'technological']', '['environmental']',
                  '['scientific', 'economic']',
                  '['scientific', 'societal', 'economic']',
                  '['scientific', 'technological', 'economic', 'societal']',
                  '['societal', 'applied']', '['societal', 'business']',
                  '['societal', 'clinical']',
                  '['societal', 'cultural', 'educational']',
                  '['societal', 'cultural', 'environmental', 'economic']',
                  '['societal', 'cultural', 'linguistic']',
                  '['societal', 'cultural', 'political']',
                  '['societal', 'cultural', 'scientific']',
                  '['societal', 'cultural']',
                  '['societal', 'economic', 'environmental']',
                  '['societal', 'economic', 'technological']',
                  '['societal', 'economic']', '['societal', 'educational']',
                  '['societal', 'environmental', 'economic']',
                  '['societal', 'environmental']',
                  '['societal', 'global security']', '['societal', 'health']',
                  '['societal', 'historical']',
                  '['societal', 'medical', 'scientific']',
                  '['societal', 'medical']', '['societal', 'policy']',
                  '['societal', 'scientific', 'economic']',
                  '['societal', 'scientific']',
                  '['societal', 'sustainability']',
                  '['societal', 'technological', 'biological']',
                  '['societal', 'technological', 'cultural']',
                  '['societal', 'technological', 'economic', 'environmental']',
                  '['societal', 'technological', 'economic']',
                  '['societal', 'technological', 'environmental', 'economic']',
                  '['societal', 'technological', 'environmental']',
                  '['societal', 'technological', 'ethical']',
                  '['societal', 'technological', 'scientific']',
                  '['societal', 'technological']',
                  '['societal', 'translational']', '['societal']',
                  '['technological', 'economic', 'environmental']',
                  '['technological', 'economic', 'societal']',
                  '['technological', 'economic']',
                  '['technological', 'environmental', 'economic']',
                  '['technological', 'environmental']',
                  '['technological', 'fundamental research']',
                  '['technological', 'scientific']',
                  '['technological', 'societal', 'economic']',
                  '['technological', 'societal', 'environmental', 'economic']',
                  '['technological', 'societal', 'environmental']',
                  '['technological', 'societal']', '['technological']',
                  'societal', 'technological'],
, ordered=False, categories_dtype=object)

In [216]:
# Drop the columns we will probably not use for prediction
# Geographical columns can be used later if we want to do geographical clustering for example
fulldf = fulldf.drop(columns=["acronym", "title", "totalCost_x", "topics", "objective_x", "rcn_x", "grantDoi", "contentUpdateDate_x", \
                              "projectID", "projectAcronym", "organisationID", "vatNumber", "name", "shortName", "street", "postCode", \
                              "city", "geolocation", "organizationURL", "contactForm","contentUpdateDate_y", "rcn_y", "totalCost_y", \
                              "ecContribution", "netEcContribution", "ecSignatureDate", "masterCall", "subCall", " scientific_domain"])

In [217]:
print(fulldf.head())
print(fulldf.info())
print(fulldf.shape)
print(fulldf.describe())

          id  status   startDate     endDate ecMaxContribution   legalBasis  \
0  101116741  SIGNED  2024-02-01  2029-01-31           1499998  HORIZON.1.1
1  101163161  SIGNED  2025-08-01  2031-07-31          12085363  HORIZON.1.1
2  101163161  SIGNED  2025-08-01  2031-07-31          12085363  HORIZON.1.1
3  101163161  SIGNED  2025-08-01  2031-07-31          12085363  HORIZON.1.1
4  101160499  SIGNED  2025-06-01  2030-05-31           1489128  HORIZON.1.1

     fundingScheme                                        objective_y  \
0      HORIZON-ERC  How do longstanding, primarily non-industrial,...
1  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
2  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
3  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
4      HORIZON-ERC  The spatiotemporal organization of the cell ma...

                                         main_topics scientific_domain  ...  \
0  ['digital technologies', 'economic diversity',...      Anthropology  ...
1  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
2  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
3  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
4  ['biophysics', 'molecular biology', 'computati...           biology  ...

                 expected_impact sustainability  \
0       ['societal', 'economic']            0.0
1  ['technological', 'societal']            0.0
2  ['technological', 'societal']            0.0
3  ['technological', 'societal']            0.0
4  ['societal', 'technological']            0.0

                                    semantic_summary    SME activityType  \
0  This project explores how non-industrial socie...  False          HES
1  The project aims to revolutionize astrochemist...  False          HES
2  The project aims to revolutionize astrochemist...  False          HES
3  The project aims to revolutionize astrochemist...  False          REC
4  The project 'In-phase' aims to develop a compu...  False          HES

  country nutsCode order         role endOfParticipation
0      NL    NL221     1  coordinator              False
1      DK    DK042     2  participant              False
2      DE    DE404     3  participant              False
3      DE    DE212     1  coordinator              False
4      ES    ES300     1  coordinator              False

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  100249 non-null  int64
 1   status              100249 non-null  category
 2   startDate           100249 non-null  object
 3   endDate             100249 non-null  object
 4   ecMaxContribution   100249 non-null  object
 5   legalBasis          100249 non-null  category
 6   fundingScheme       100248 non-null  category
 7   objective_y         100249 non-null  object
 8   main_topics         100157 non-null  category
 9   scientific_domain   99201 non-null   object
 10  problem_type        100157 non-null  category
 11  expected_impact     100157 non-null  category
 12  sustainability      100157 non-null  float64
 13  semantic_summary    100157 non-null  object
 14  SME                 99986 non-null   object
 15  activityType        100225 non-null  category
 16  country             100236 non-null  category
 17  nutsCode            99971 non-null   category
 18  order               100249 non-null  category
 19  role                100249 non-null  category
 20  endOfParticipation  100249 non-null  bool
dtypes: bool(1), category(11), float64(1), int64(1), object(7)
memory usage: 9.1+ MB
None
(100249, 21)
                 id  sustainability
count  1.002490e+05   100157.000000
mean   1.015230e+08        0.642242
std    6.024056e+06        0.479343
min    1.010390e+08        0.000000
25%    1.010799e+08        0.000000
50%    1.011127e+08        1.000000
75%    1.011393e+08        1.000000
max    1.901999e+08        1.000000

In [218]:
fulldf["ecMaxContribution"] = fulldf["ecMaxContribution"].str.replace(',', '.', regex=False).astype(float)

In [219]:
print(fulldf.head())
print(fulldf.info())
print(fulldf.shape)
print(fulldf.describe())

          id  status   startDate     endDate  ecMaxContribution   legalBasis  \
0  101116741  SIGNED  2024-02-01  2029-01-31          1499998.0  HORIZON.1.1
1  101163161  SIGNED  2025-08-01  2031-07-31         12085363.0  HORIZON.1.1
2  101163161  SIGNED  2025-08-01  2031-07-31         12085363.0  HORIZON.1.1
3  101163161  SIGNED  2025-08-01  2031-07-31         12085363.0  HORIZON.1.1
4  101160499  SIGNED  2025-06-01  2030-05-31          1489128.0  HORIZON.1.1

     fundingScheme                                        objective_y  \
0      HORIZON-ERC  How do longstanding, primarily non-industrial,...
1  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
2  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
3  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
4      HORIZON-ERC  The spatiotemporal organization of the cell ma...

                                         main_topics scientific_domain  ...  \
0  ['digital technologies', 'economic diversity',...      Anthropology  ...
1  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
2  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
3  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
4  ['biophysics', 'molecular biology', 'computati...           biology  ...

                 expected_impact sustainability  \
0       ['societal', 'economic']            0.0
1  ['technological', 'societal']            0.0
2  ['technological', 'societal']            0.0
3  ['technological', 'societal']            0.0
4  ['societal', 'technological']            0.0

                                    semantic_summary    SME activityType  \
0  This project explores how non-industrial socie...  False          HES
1  The project aims to revolutionize astrochemist...  False          HES
2  The project aims to revolutionize astrochemist...  False          HES
3  The project aims to revolutionize astrochemist...  False          REC
4  The project 'In-phase' aims to develop a compu...  False          HES

  country nutsCode order         role endOfParticipation
0      NL    NL221     1  coordinator              False
1      DK    DK042     2  participant              False
2      DE    DE404     3  participant              False
3      DE    DE212     1  coordinator              False
4      ES    ES300     1  coordinator              False

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  100249 non-null  int64
 1   status              100249 non-null  category
 2   startDate           100249 non-null  object
 3   endDate             100249 non-null  object
 4   ecMaxContribution   100249 non-null  float64
 5   legalBasis          100249 non-null  category
 6   fundingScheme       100248 non-null  category
 7   objective_y         100249 non-null  object
 8   main_topics         100157 non-null  category
 9   scientific_domain   99201 non-null   object
 10  problem_type        100157 non-null  category
 11  expected_impact     100157 non-null  category
 12  sustainability      100157 non-null  float64
 13  semantic_summary    100157 non-null  object
 14  SME                 99986 non-null   object
 15  activityType        100225 non-null  category
 16  country             100236 non-null  category
 17  nutsCode            99971 non-null   category
 18  order               100249 non-null  category
 19  role                100249 non-null  category
 20  endOfParticipation  100249 non-null  bool
dtypes: bool(1), category(11), float64(2), int64(1), object(6)
memory usage: 9.1+ MB
None
(100249, 21)
                 id  ecMaxContribution  sustainability
count  1.002490e+05       1.002490e+05   100157.000000
mean   1.015230e+08       8.028732e+06        0.642242
std    6.024056e+06       2.758056e+07        0.479343
min    1.010390e+08       4.659400e+04        0.000000
25%    1.010799e+08       2.499224e+06        0.000000
50%    1.011127e+08       4.366775e+06        1.000000
75%    1.011393e+08       7.498762e+06        1.000000
max    1.901999e+08       5.494420e+08        1.000000

In [ ]:
# Missings on SME, this gives a false to MSE when it is missings
fulldf["SME"] = fulldf["SME"].astype(bool)

In [221]:
fulldf["SME"] = fulldf["SME"].astype(int)

In [222]:
fulldf["startDate"] = pd.to_datetime(fulldf["startDate"])
fulldf["endDate"] = pd.to_datetime(fulldf["endDate"])

In [223]:
print(fulldf.head())
print(fulldf.info())
print(fulldf.shape)
print(fulldf.describe())

          id  status  startDate    endDate  ecMaxContribution   legalBasis  \
0  101116741  SIGNED 2024-02-01 2029-01-31          1499998.0  HORIZON.1.1
1  101163161  SIGNED 2025-08-01 2031-07-31         12085363.0  HORIZON.1.1
2  101163161  SIGNED 2025-08-01 2031-07-31         12085363.0  HORIZON.1.1
3  101163161  SIGNED 2025-08-01 2031-07-31         12085363.0  HORIZON.1.1
4  101160499  SIGNED 2025-06-01 2030-05-31          1489128.0  HORIZON.1.1

     fundingScheme                                        objective_y  \
0      HORIZON-ERC  How do longstanding, primarily non-industrial,...
1  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
2  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
3  HORIZON-ERC-SYG  The James Webb Space Telescope (JWST) has ushe...
4      HORIZON-ERC  The spatiotemporal organization of the cell ma...

                                         main_topics scientific_domain  ...  \
0  ['digital technologies', 'economic diversity',...      Anthropology  ...
1  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
2  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
3  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
4  ['biophysics', 'molecular biology', 'computati...           biology  ...

                 expected_impact sustainability  \
0       ['societal', 'economic']            0.0
1  ['technological', 'societal']            0.0
2  ['technological', 'societal']            0.0
3  ['technological', 'societal']            0.0
4  ['societal', 'technological']            0.0

                                    semantic_summary SME  activityType  \
0  This project explores how non-industrial socie...   0           HES
1  The project aims to revolutionize astrochemist...   0           HES
2  The project aims to revolutionize astrochemist...   0           HES
3  The project aims to revolutionize astrochemist...   0           REC
4  The project 'In-phase' aims to develop a compu...   0           HES

  country nutsCode order         role endOfParticipation
0      NL    NL221     1  coordinator              False
1      DK    DK042     2  participant              False
2      DE    DE404     3  participant              False
3      DE    DE212     1  coordinator              False
4      ES    ES300     1  coordinator              False

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  100249 non-null  int64
 1   status              100249 non-null  category
 2   startDate           100249 non-null  datetime64[ns]
 3   endDate             100249 non-null  datetime64[ns]
 4   ecMaxContribution   100249 non-null  float64
 5   legalBasis          100249 non-null  category
 6   fundingScheme       100248 non-null  category
 7   objective_y         100249 non-null  object
 8   main_topics         100157 non-null  category
 9   scientific_domain   99201 non-null   object
 10  problem_type        100157 non-null  category
 11  expected_impact     100157 non-null  category
 12  sustainability      100157 non-null  float64
 13  semantic_summary    100157 non-null  object
 14  SME                 100249 non-null  int64
 15  activityType        100225 non-null  category
 16  country             100236 non-null  category
 17  nutsCode            99971 non-null   category
 18  order               100249 non-null  category
 19  role                100249 non-null  category
 20  endOfParticipation  100249 non-null  bool
dtypes: bool(1), category(11), datetime64[ns](2), float64(2), int64(2), object(3)
memory usage: 9.1+ MB
None
(100249, 21)
                 id                      startDate  \
count  1.002490e+05                         100249
mean   1.015230e+08  2023-09-01 01:46:22.890602496
min    1.010390e+08            2021-01-01 00:00:00
25%    1.010799e+08            2023-01-01 00:00:00
50%    1.011127e+08            2023-09-01 00:00:00
75%    1.011393e+08            2024-05-01 00:00:00
max    1.901999e+08            2026-01-01 00:00:00
std    6.024056e+06                            NaN

                             endDate  ecMaxContribution  sustainability  \
count                         100249       1.002490e+05   100157.000000
mean   2027-04-25 06:53:30.190625536       8.028732e+06        0.642242
min              2021-12-31 00:00:00       4.659400e+04        0.000000
25%              2026-05-31 00:00:00       2.499224e+06        0.000000
50%              2027-02-28 00:00:00       4.366775e+06        1.000000
75%              2028-01-31 00:00:00       7.498762e+06        1.000000
max              2034-05-31 00:00:00       5.494420e+08        1.000000
std                              NaN       2.758056e+07        0.479343

                 SME
count  100249.000000
mean        0.188680
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
std         0.391256

In [224]:
import missingno as msno
sorted_NAs = msno.nullity_sort(fulldf, sort='ascending')
print(sorted_NAs.head(100))

              id  status  startDate    endDate  ecMaxContribution  \
46924  101149703  SIGNED 2024-09-01 2026-08-31          195914.88
80795  101101973  SIGNED 2022-12-01 2026-09-30        37875973.46
80767  101101973  SIGNED 2022-12-01 2026-09-30        37875973.46
80766  101101973  SIGNED 2022-12-01 2026-09-30        37875973.46
80765  101101973  SIGNED 2022-12-01 2026-09-30        37875973.46
...          ...     ...        ...        ...                ...
17236  101177528  SIGNED 2025-01-01 2027-12-31         4999987.50
15277  101172838  SIGNED 2024-10-01 2030-09-30         9999999.97
21717  101103174  SIGNED 2023-07-01 2027-06-30         4998433.25
79294  101071224  SIGNED 2023-01-01 2026-12-31         2777853.60
56898  101071643  SIGNED 2023-10-01 2029-09-30        13800936.00

        legalBasis           fundingScheme  \
46924  HORIZON.1.2  HORIZON-TMA-MSCA-PF-EF
80795  HORIZON.2.5           HORIZON-JU-IA
80767  HORIZON.2.5           HORIZON-JU-IA
80766  HORIZON.2.5           HORIZON-JU-IA
80765  HORIZON.2.5           HORIZON-JU-IA
...            ...                     ...
17236  HORIZON.2.4             HORIZON-RIA
15277  HORIZON.2.5          HORIZON-COFUND
21717  HORIZON.2.1          HORIZON-JU-RIA
79294  HORIZON.1.2     HORIZON-TMA-MSCA-DN
56898  HORIZON.1.1         HORIZON-ERC-SYG

                                             objective_y  \
46924  Ongoing climate change has altered both mean a...
80795  “MOTIONAL” will enable the improved planning a...
80767  “MOTIONAL” will enable the improved planning a...
80766  “MOTIONAL” will enable the improved planning a...
80765  “MOTIONAL” will enable the improved planning a...
...                                                  ...
17236  Recent EU initiatives for a circular 'Net Zero...
15277  Built on LEAP-RE programme implemented between...
21717  The main aim of the proposed project is to use...
79294  The aim of WildDrone is to push wildlife conse...
56898  Black holes (BHs) are icons of the fundamental...

                                             main_topics  scientific_domain  \
46924                                                NaN                NaN
80795                                                NaN                NaN
80767                                                NaN                NaN
80766                                                NaN                NaN
80765                                                NaN                NaN
...                                                  ...                ...
17236  ['mineral exploration', 'deep exploration', 'c...            geology
15277  ['sustainable energy', 'partnership developmen...             energy
21717  ['genomic epidemiology', 'infectious diseases'...            biology
79294  ['wildlife conservation', 'drone technology', ...  interdisciplinary
56898  ['Black Holes', 'Astrophysics', 'Gravity', 'Pl...       Astrophysics

       ...                expected_impact sustainability  \
46924  ...                            NaN            NaN
80795  ...                            NaN            NaN
80767  ...                            NaN            NaN
80766  ...                            NaN            NaN
80765  ...                            NaN            NaN
...    ...                            ...            ...
17236  ...  ['technological', 'economic']            1.0
15277  ...  ['societal', 'technological']            1.0
21717  ...  ['societal', 'technological']            1.0
79294  ...  ['societal', 'technological']            1.0
56898  ...  ['societal', 'technological']            0.0

                                        semantic_summary SME  activityType  \
46924                                                NaN   0           HES
80795                                                NaN   0           REC
80767                                                NaN   0           PRC
80766                                                NaN   0           HES
80765                                                NaN   0           PRC
...                                                  ...  ..           ...
17236  UNDERCOVER aims to revolutionize deep explorat...   0           PRC
15277  LEAP-SE aims to advance sustainable energy fie...   0           PUB
21717  The project aims to enhance disease surveillan...   0           HES
79294  WildDrone aims to revolutionize wildlife conse...   0           PRC
56898  The project aims to advance our understanding ...   0           HES

      country nutsCode order               role endOfParticipation
46924      FR    FRI12     1        coordinator              False
80795      SE    SE232    24         thirdParty              False
80767      ES    ES212     6        participant              False
80766      SE    SE123    24         thirdParty              False
80765      IT    ITI43    13        participant              False
...       ...      ...   ...                ...                ...
17236     NaN      NaN     7        participant              False
15277     NaN      NaN    18        participant              False
21717     NaN      NaN     6        participant              False
79294     NaN      NaN    17  associatedPartner              False
56898     NaN      NaN     5        participant              False

[100 rows x 21 columns]

In [225]:
# missings on all new col's: 101149703 (195914.88 funding, 1 organization), 101101973 (37875973.46 funding, 89 organizations) 101041246
# (1395888.00 funding, 1 organization)
# Drop these two for now
fulldf_C = fulldf[~fulldf["id"].isin([101149703, 101101973])]

In [226]:
# When country or nutscode our NA python thinks its a NAN so have to change this behaviour
# Also missing on all: 101041246 (1395888.00, 1 organization)
# Missing only on scientific domain: 101120060, 101129910, 101113553, 101100494, 101081937
# for organization order 14 of id 101120060: no nutscode and lots of missings for adress (col's dropped earlier)

sorted_NAs = msno.nullity_sort(fulldf_C, sort='ascending')
print(sorted_NAs.head(20))

              id  status  startDate    endDate  ecMaxContribution  \
78651  101041246  SIGNED 2022-09-01 2027-08-31         1395888.00
11716  101114611  SIGNED 2023-06-01 2026-05-31         5356611.76
8249   101136739  SIGNED 2024-01-01 2026-12-31         6750129.38
6886   101057832  SIGNED 2022-06-01 2025-11-30         7268627.50
17236  101177528  SIGNED 2025-01-01 2027-12-31         4999987.50
20813  101103195  SIGNED 2023-07-01 2026-06-30          599947.50
21717  101103174  SIGNED 2023-07-01 2027-06-30         4998433.25
15277  101172838  SIGNED 2024-10-01 2030-09-30         9999999.97
42353  101178250  SIGNED 2025-06-01 2029-05-31         1194000.00
43492  101063992  SIGNED 2023-09-01 2026-02-28          206641.20
44271  101065058  CLOSED 2022-08-01 2024-07-31          172750.08
42842  101081581  SIGNED 2023-10-01 2028-09-30         1881600.00
45680  101120060  SIGNED 2024-02-01 2028-01-31         2547007.20
50867  101113553  SIGNED 2023-03-01 2024-08-31          150000.00
56898  101071643  SIGNED 2023-10-01 2029-09-30        13800936.00
79294  101071224  SIGNED 2023-01-01 2026-12-31         2777853.60
1397   101100494  SIGNED 2023-04-01 2025-06-30          997125.00
1396   101100494  SIGNED 2023-04-01 2025-06-30          997125.00
1395   101100494  SIGNED 2023-04-01 2025-06-30          997125.00
1394   101100494  SIGNED 2023-04-01 2025-06-30          997125.00

        legalBasis              fundingScheme  \
78651  HORIZON.1.1                HORIZON-ERC
11716  HORIZON.2.5             HORIZON-JU-RIA
8249   HORIZON.2.6                 HORIZON-IA
6886   HORIZON.2.4                HORIZON-CSA
17236  HORIZON.2.4                HORIZON-RIA
20813  HORIZON.2.1             HORIZON-JU-CSA
21717  HORIZON.2.1             HORIZON-JU-RIA
15277  HORIZON.2.5             HORIZON-COFUND
42353  HORIZON.1.2  HORIZON-TMA-MSCA-Cofund-P
43492  HORIZON.1.2     HORIZON-TMA-MSCA-PF-EF
44271  HORIZON.1.2     HORIZON-TMA-MSCA-PF-EF
42842  HORIZON.1.2  HORIZON-TMA-MSCA-Cofund-D
45680  HORIZON.1.2        HORIZON-TMA-MSCA-DN
50867  HORIZON.1.1                        NaN
56898  HORIZON.1.1            HORIZON-ERC-SYG
79294  HORIZON.1.2        HORIZON-TMA-MSCA-DN
1397   HORIZON.3.2                HORIZON-CSA
1396   HORIZON.3.2                HORIZON-CSA
1395   HORIZON.3.2                HORIZON-CSA
1394   HORIZON.3.2                HORIZON-CSA

                                             objective_y  \
78651  "The E-BoP project is an innovative study of t...
11716  "GEESE will develop with SESAR the introductio...
8249   INNOECOFOOD aims to establish innovative produ...
6886   Secure the access to raw materials represents ...
17236  Recent EU initiatives for a circular 'Net Zero...
20813  The Southern Africa Regulatory for Clinical Re...
21717  The main aim of the proposed project is to use...
15277  Built on LEAP-RE programme implemented between...
42353  The ATENEA programme will offer ten 30-month P...
43492  State-of-the-art investigations of the hydrody...
44271  WaterScapes is an interdisciplinary project th...
42842  The rePLANT (Reconstruction Biology in Plant S...
45680  Social, political, and cultural transformation...
50867  Nuclear magnetic resonance (NMR) is a powerful...
56898  Black holes (BHs) are icons of the fundamental...
79294  The aim of WildDrone is to push wildlife conse...
1397   The EU is planning to reduce its net greenhous...
1396   The EU is planning to reduce its net greenhous...
1395   The EU is planning to reduce its net greenhous...
1394   The EU is planning to reduce its net greenhous...

                                             main_topics  \
78651                                                NaN
11716  ['Air Traffic Management', 'Wake Energy Retrie...
8249   ['AI', 'IoT', 'aquaculture', 'sustainability',...
6886   ['raw materials', 'sustainable sourcing', 'EU-...
17236  ['mineral exploration', 'deep exploration', 'c...
20813  ['clinical trials', 'regulatory capacity build...
21717  ['genomic epidemiology', 'infectious diseases'...
15277  ['sustainable energy', 'partnership developmen...
42353  ['Materials Science and Engineering', 'Interdi...
43492  ['fluid dynamics', 'numerical methodology', 'f...
44271  ['environmental changes', 'archaeology', 'wate...
42842       ['Reconstruction Biology', 'Plant Sciences']
45680  ['populism', 'democracy', 'gender rights', 'tr...
50867  ['Nuclear magnetic resonance', 'Radiation-dete...
56898  ['Black Holes', 'Astrophysics', 'Gravity', 'Pl...
79294  ['wildlife conservation', 'drone technology', ...
1397   ['entrepreneurship education', 'innovative sol...
1396   ['entrepreneurship education', 'innovative sol...
1395   ['entrepreneurship education', 'innovative sol...
1394   ['entrepreneurship education', 'innovative sol...

                       scientific_domain  ...  \
78651                                NaN  ...
11716              aerospace engineering  ...
8249                         agriculture  ...
6886                   materials science  ...
17236                            geology  ...
20813                           Medicine  ...
21717                            biology  ...
15277                             energy  ...
42353  materials science and engineering  ...
43492              aerospace engineering  ...
44271                        Archaeology  ...
42842                            biology  ...
45680                                NaN  ...
50867                                NaN  ...
56898                       Astrophysics  ...
79294                  interdisciplinary  ...
1397                                 NaN  ...
1396                                 NaN  ...
1395                                 NaN  ...
1394                                 NaN  ...

                                      expected_impact sustainability  \
78651                                             NaN            NaN
11716                   ['technological', 'economic']            0.0
8249   ['societal', 'technological', 'environmental']            1.0
6886                         ['societal', 'economic']            1.0
17236                   ['technological', 'economic']            1.0
20813                   ['societal', 'technological']            0.0
21717                   ['societal', 'technological']            1.0
15277                   ['societal', 'technological']            1.0
42353                        ['societal', 'economic']            0.0
43492                   ['technological', 'societal']            0.0
44271                   ['societal', 'technological']            1.0
42842                                    ['societal']            0.0
45680                   ['societal', 'technological']            1.0
50867                   ['technological', 'societal']            0.0
56898                   ['societal', 'technological']            0.0
79294                   ['societal', 'technological']            1.0
1397                    ['societal', 'technological']            1.0
1396                    ['societal', 'technological']            1.0
1395                    ['societal', 'technological']            1.0
1394                    ['societal', 'technological']            1.0

                                        semantic_summary SME  activityType  \
78651                                                NaN   0           REC
11716  The GEESE project aims to develop and implemen...   0           NaN
8249   INNOECOFOOD aims to establish innovative ECOHU...   0           HES
6886   The AfricaMaVal project aims to develop an EU-...   0           HES
17236  UNDERCOVER aims to revolutionize deep explorat...   0           PRC
20813  The SEARCH II project aims to enhance regulato...   0           PUB
21717  The project aims to enhance disease surveillan...   0           HES
15277  LEAP-SE aims to advance sustainable energy fie...   0           PUB
42353  The ATENEA programme aims to provide postdocto...   0           PRC
43492  The project aims to develop a theoretical/nume...   0           PRC
44271  WaterScapes is an interdisciplinary project fo...   0           OTH
42842  The rePLANT Doctoral Training Program focuses ...   1           PRC
45680  The LAC-EU doctoral network aims to understand...   1           PRC
50867  The project aims to enhance NMR sensitivity by...   0           REC
56898  The project aims to advance our understanding ...   0           HES
79294  WildDrone aims to revolutionize wildlife conse...   0           PRC
1397   The SEED+ project aims to foster a new generat...   1           PRC
1396   The SEED+ project aims to foster a new generat...   0           HES
1395   The SEED+ project aims to foster a new generat...   1           PRC
1394   The SEED+ project aims to foster a new generat...   0           HES

      country nutsCode order               role endOfParticipation
78651      FR    FR101     1        coordinator              False
11716     NaN      NaN    17  associatedPartner              False
8249      NaN      NaN     6        participant              False
6886      NaN      NaN    10        participant              False
17236     NaN      NaN     7        participant              False
20813     NaN      NaN     6        participant              False
21717     NaN      NaN     6        participant              False
15277     NaN      NaN    18        participant              False
42353     NaN      NaN    22  associatedPartner              False
43492     NaN      NaN     3  associatedPartner              False
44271     NaN      NaN     2  associatedPartner              False
42842     NaN      NaN     2  associatedPartner              False
45680      FR      NaN    14  associatedPartner              False
50867      CH    CH013     1        coordinator              False
56898     NaN      NaN     5        participant              False
79294     NaN      NaN    17  associatedPartner              False
1397       PT    PT1A0     7        participant              False
1396       DE    DE122     8  associatedPartner              False
1395       SK    SK010     4        participant              False
1394       IT    ITF35     9  associatedPartner              False

[20 rows x 21 columns]

In [227]:
fulldf_C = fulldf_C[~fulldf_C["id"].isin([101041246, 101120060, 101129910, 101113553, 101100494])]
# Ensure that 'NA' in 'country' or 'nutsCode' columns is treated as a string value and not as NaN (can't seem to fix that)
sorted_NAs = msno.nullity_sort(fulldf_C, sort='ascending')
print(sorted_NAs.head(20))

              id  status  startDate    endDate  ecMaxContribution  \
11716  101114611  SIGNED 2023-06-01 2026-05-31         5356611.76
6886   101057832  SIGNED 2022-06-01 2025-11-30         7268627.50
8249   101136739  SIGNED 2024-01-01 2026-12-31         6750129.38
15277  101172838  SIGNED 2024-10-01 2030-09-30         9999999.97
17236  101177528  SIGNED 2025-01-01 2027-12-31         4999987.50
20813  101103195  SIGNED 2023-07-01 2026-06-30          599947.50
21717  101103174  SIGNED 2023-07-01 2027-06-30         4998433.25
42353  101178250  SIGNED 2025-06-01 2029-05-31         1194000.00
42842  101081581  SIGNED 2023-10-01 2028-09-30         1881600.00
43492  101063992  SIGNED 2023-09-01 2026-02-28          206641.20
44271  101065058  CLOSED 2022-08-01 2024-07-31          172750.08
56898  101071643  SIGNED 2023-10-01 2029-09-30        13800936.00
79294  101071224  SIGNED 2023-01-01 2026-12-31         2777853.60
1926   101081937  SIGNED 2022-11-01 2024-12-31         1498220.25
1925   101081937  SIGNED 2022-11-01 2024-12-31         1498220.25
1924   101081937  SIGNED 2022-11-01 2024-12-31         1498220.25
1923   101081937  SIGNED 2022-11-01 2024-12-31         1498220.25
1922   101081937  SIGNED 2022-11-01 2024-12-31         1498220.25
2332   101092242  SIGNED 2022-12-01 2026-11-30         3218277.00
2347   101092944  SIGNED 2023-01-01 2025-12-31         4911425.00

        legalBasis              fundingScheme  \
11716  HORIZON.2.5             HORIZON-JU-RIA
6886   HORIZON.2.4                HORIZON-CSA
8249   HORIZON.2.6                 HORIZON-IA
15277  HORIZON.2.5             HORIZON-COFUND
17236  HORIZON.2.4                HORIZON-RIA
20813  HORIZON.2.1             HORIZON-JU-CSA
21717  HORIZON.2.1             HORIZON-JU-RIA
42353  HORIZON.1.2  HORIZON-TMA-MSCA-Cofund-P
42842  HORIZON.1.2  HORIZON-TMA-MSCA-Cofund-D
43492  HORIZON.1.2     HORIZON-TMA-MSCA-PF-EF
44271  HORIZON.1.2     HORIZON-TMA-MSCA-PF-EF
56898  HORIZON.1.1            HORIZON-ERC-SYG
79294  HORIZON.1.2        HORIZON-TMA-MSCA-DN
1926   HORIZON.2.4                HORIZON-RIA
1925   HORIZON.2.4                HORIZON-RIA
1924   HORIZON.2.4                HORIZON-RIA
1923   HORIZON.2.4                HORIZON-RIA
1922   HORIZON.2.4                HORIZON-RIA
2332   HORIZON.2.4                HORIZON-RIA
2347   HORIZON.2.4                HORIZON-RIA

                                             objective_y  \
11716  "GEESE will develop with SESAR the introductio...
6886   Secure the access to raw materials represents ...
8249   INNOECOFOOD aims to establish innovative produ...
15277  Built on LEAP-RE programme implemented between...
17236  Recent EU initiatives for a circular 'Net Zero...
20813  The Southern Africa Regulatory for Clinical Re...
21717  The main aim of the proposed project is to use...
42353  The ATENEA programme will offer ten 30-month P...
42842  The rePLANT (Reconstruction Biology in Plant S...
43492  State-of-the-art investigations of the hydrody...
44271  WaterScapes is an interdisciplinary project th...
56898  Black holes (BHs) are icons of the fundamental...
79294  The aim of WildDrone is to push wildlife conse...
1926   Sustainable space exploration requires the dev...
1925   Sustainable space exploration requires the dev...
1924   Sustainable space exploration requires the dev...
1923   Sustainable space exploration requires the dev...
1922   Sustainable space exploration requires the dev...
2332   Hypertension is the leading global contributor...
2347   EXA4MIND will build an Extreme Data platform t...

                                             main_topics  \
11716  ['Air Traffic Management', 'Wake Energy Retrie...
6886   ['raw materials', 'sustainable sourcing', 'EU-...
8249   ['AI', 'IoT', 'aquaculture', 'sustainability',...
15277  ['sustainable energy', 'partnership developmen...
17236  ['mineral exploration', 'deep exploration', 'c...
20813  ['clinical trials', 'regulatory capacity build...
21717  ['genomic epidemiology', 'infectious diseases'...
42353  ['Materials Science and Engineering', 'Interdi...
42842       ['Reconstruction Biology', 'Plant Sciences']
43492  ['fluid dynamics', 'numerical methodology', 'f...
44271  ['environmental changes', 'archaeology', 'wate...
56898  ['Black Holes', 'Astrophysics', 'Gravity', 'Pl...
79294  ['wildlife conservation', 'drone technology', ...
1926   ['Space exploration', 'In-Situ Resource Utiliz...
1925   ['Space exploration', 'In-Situ Resource Utiliz...
1924   ['Space exploration', 'In-Situ Resource Utiliz...
1923   ['Space exploration', 'In-Situ Resource Utiliz...
1922   ['Space exploration', 'In-Situ Resource Utiliz...
2332   ['medical technology', 'biomaterials', 'sensor...
2347   ['Big Data', 'Data Management', 'High-Performa...

                       scientific_domain  ...  \
11716              aerospace engineering  ...
6886                   materials science  ...
8249                         agriculture  ...
15277                             energy  ...
17236                            geology  ...
20813                           Medicine  ...
21717                            biology  ...
42353  materials science and engineering  ...
42842                            biology  ...
43492              aerospace engineering  ...
44271                        Archaeology  ...
56898                       Astrophysics  ...
79294                  interdisciplinary  ...
1926                                 NaN  ...
1925                                 NaN  ...
1924                                 NaN  ...
1923                                 NaN  ...
1922                                 NaN  ...
2332                            Medicine  ...
2347                    Computer Science  ...

                                      expected_impact sustainability  \
11716                   ['technological', 'economic']            0.0
6886                         ['societal', 'economic']            1.0
8249   ['societal', 'technological', 'environmental']            1.0
15277                   ['societal', 'technological']            1.0
17236                   ['technological', 'economic']            1.0
20813                   ['societal', 'technological']            0.0
21717                   ['societal', 'technological']            1.0
42353                        ['societal', 'economic']            0.0
42842                                    ['societal']            0.0
43492                   ['technological', 'societal']            0.0
44271                   ['societal', 'technological']            1.0
56898                   ['societal', 'technological']            0.0
79294                   ['societal', 'technological']            1.0
1926                    ['technological', 'societal']            1.0
1925                    ['technological', 'societal']            1.0
1924                    ['technological', 'societal']            1.0
1923                    ['technological', 'societal']            1.0
1922                    ['technological', 'societal']            1.0
2332                    ['societal', 'technological']            0.0
2347                    ['technological', 'societal']            0.0

                                        semantic_summary SME  activityType  \
11716  The GEESE project aims to develop and implemen...   0           NaN
6886   The AfricaMaVal project aims to develop an EU-...   0           HES
8249   INNOECOFOOD aims to establish innovative ECOHU...   0           HES
15277  LEAP-SE aims to advance sustainable energy fie...   0           PUB
17236  UNDERCOVER aims to revolutionize deep explorat...   0           PRC
20813  The SEARCH II project aims to enhance regulato...   0           PUB
21717  The project aims to enhance disease surveillan...   0           HES
42353  The ATENEA programme aims to provide postdocto...   0           PRC
42842  The rePLANT Doctoral Training Program focuses ...   1           PRC
43492  The project aims to develop a theoretical/nume...   0           PRC
44271  WaterScapes is an interdisciplinary project fo...   0           OTH
56898  The project aims to advance our understanding ...   0           HES
79294  WildDrone aims to revolutionize wildlife conse...   0           PRC
1926   LUWEX aims to develop technologies for extract...   0           REC
1925   LUWEX aims to develop technologies for extract...   0           PRC
1924   LUWEX aims to develop technologies for extract...   0           HES
1923   LUWEX aims to develop technologies for extract...   0           PRC
1922   LUWEX aims to develop technologies for extract...   1           PRC
2332   The project aims to develop a novel sensor usi...   1           PRC
2347   EXA4MIND aims to develop an Extreme Data platf...   1           PRC

      country nutsCode order               role endOfParticipation
11716     NaN      NaN    17  associatedPartner              False
6886      NaN      NaN    10        participant              False
8249      NaN      NaN     6        participant              False
15277     NaN      NaN    18        participant              False
17236     NaN      NaN     7        participant              False
20813     NaN      NaN     6        participant              False
21717     NaN      NaN     6        participant              False
42353     NaN      NaN    22  associatedPartner              False
42842     NaN      NaN     2  associatedPartner              False
43492     NaN      NaN     3  associatedPartner              False
44271     NaN      NaN     2  associatedPartner              False
56898     NaN      NaN     5        participant              False
79294     NaN      NaN    17  associatedPartner              False
1926       DE    DEA23     1        coordinator              False
1925       PL    PL514     4        participant              False
1924       DE    DE911     3        participant              False
1923       IT    ITI43     6        participant              False
1922       AT    AT130     2        participant              False
2332       IT      NaN     2         thirdParty              False
2347       FR      NaN     5        participant              False

[20 rows x 21 columns]

In [228]:
# List of all  projects than above with a missing scientific_domain
missing_scientific_domain = fulldf[fulldf["scientific_domain"].isna()]
print(missing_scientific_domain["id"].unique())
# List of projects with missing on main_topics 
missing_scientific_domain = fulldf[fulldf["main_topics"].isna()]
print(missing_scientific_domain["id"].unique())
# List of projects with missing on expected_impact (besides ids with all missings)
missing_scientific_domain = fulldf[fulldf["expected_impact"].isna()]
print(missing_scientific_domain["id"].unique())
# List of projects with missing on sustainability (besides ids with all missings)
missing_scientific_domain = fulldf[fulldf["sustainability"].isna()]
print(missing_scientific_domain["id"].unique())
# List of projects with missing on problem_type (besides ids with all missings)
missing_scientific_domain = fulldf[fulldf["problem_type"].isna()]
print(missing_scientific_domain["id"].unique())

[101100494 101081937 101135691 101133904 101060762 101058632 101121152
 101059483 101188351 101136770 101084137 101192383 101078933 101079183
 101180607 101177455 101070120 101084201 101137340 101177405 101187961
 101075596 101060884 101160009 101095160 101122323 101151842 101149774
 101062821 101131441 101150927 101179819 101062255 101148424 101064890
 101146144 101183162 101072316 101061631 101162230 101152906 101064013
 101148808 101120060 101129910 101149389 101155739 101149703 101179991
 101154870 101152840 101073381 101072992 101073351 101060237 101068688
 101153914 101067621 101064735 101062942 101120172 101067998 101086142
 101113553 101089047 101124215 101188053 101124701 101118083 101170388
 101142115 101098225 101116774 101165305 101160928 101078619 101077492
 101096005 101054696 101163065 101166888 101097688 101087876 101161994
 101098279 101150729 101072344 101057385 101139777 101065293 101119442
 101136955 101110097 101110007 101107981 101105463 101110562 101108387
 101106395 101104928 101110162 101162248 101119556 101131549 101072845
 101103026 101094765 101125012 101123233 101169269 101136377 101069994
 101159928 101073821 101150609 101132339 101041424 101039294 101041246
 101119598 101101973 101183089 101072410 101159883 101179234 101130271
 101135884 101136607 101135533 101108151 101044725 101113180 101129661
 101057960 101115134 101046364 101112987 101130550]
[101149703 101041246 101101973]
[101149703 101041246 101101973]
[101149703 101041246 101101973]
[101149703 101041246 101101973]

In [ ]:
# Still some missing values on: fundingScheme, 101113553 looks like it has no fundingscheme (reliable to include?)
# Organisation involved: ORGANISATION EUROPEENNE NUCLEAIRE, so maybe a EURATOM fundingsscheme?
missing_scientific_domain = fulldf[fulldf["fundingScheme"].isna()]
print(missing_scientific_domain["id"].unique())

[101113553]

In [ ]:
# 24 missings on activitytype
missing_scientific_domain = fulldf[fulldf["activityType"].isna()]
unique_combinations = missing_scientific_domain[['id', 'order']].drop_duplicates()
print(unique_combinations)
print(len(unique_combinations))

              id order
11716  101114611    17
26370  101120397     7
26372  101120397     8
26374  101120397     4
34510  101084651    11
48561  101129889    10
48567  101129889     7
48569  101129889     4
59606  101094546    19
59608  101094546    10
59612  101094546    15
59614  101094546     7
59619  101094546     9
59621  101094546    20
59624  101094546    21
61055  101105967     3
88261  101131469     7
88262  101131469     8
88263  101131469     4
88264  101131469    10
88265  101131469     2
88267  101131469     6
88268  101131469     9
99511  190183494     1
24

In [ ]:
# 13 missings on country, mostly bcs of NA, Change manually in excell file via formula if not fixable via python?
missing_scientific_domain = fulldf[fulldf["country"].isna()]
unique_combinations = missing_scientific_domain[['id', 'order']].drop_duplicates()
print(unique_combinations)
print(len(unique_combinations))

              id order
6886   101057832    10
8249   101136739     6
11716  101114611    17
15277  101172838    18
17236  101177528     7
20813  101103195     6
21717  101103174     6
42353  101178250    22
42842  101081581     2
43492  101063992     3
44271  101065058     2
56898  101071643     5
79294  101071224    17
13

In [ ]:
# Also because of NA but more with real missings 
missing_scientific_domain = fulldf[fulldf["nutsCode"].isna()]
unique_combinations = missing_scientific_domain[['id', 'order']].drop_duplicates()
print(unique_combinations)
print(len(unique_combinations))

              id order
343    101096781     6
425    101121171     2
1731   101129646     4
1812   101180091     2
2332   101092242     2
...          ...   ...
96162  101126688    14
96580  101081347     8
98532  101186252     4
98536  101186252     5
98537  101186252     2

[278 rows x 2 columns]
278

In [242]:
print(fulldf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  100249 non-null  int64
 1   status              100249 non-null  category
 2   startDate           100249 non-null  datetime64[ns]
 3   endDate             100249 non-null  datetime64[ns]
 4   ecMaxContribution   100249 non-null  float64
 5   legalBasis          100249 non-null  category
 6   fundingScheme       100248 non-null  category
 7   objective_y         100249 non-null  object
 8   main_topics         100157 non-null  category
 9   scientific_domain   99580 non-null   object
 10  problem_type        100157 non-null  category
 11  expected_impact     100157 non-null  category
 12  sustainability      100157 non-null  float64
 13  semantic_summary    100157 non-null  object
 14  SME                 100249 non-null  int64
 15  activityType        100225 non-null  category
 16  country             100236 non-null  category
 17  nutsCode            99971 non-null   category
 18  order               100249 non-null  category
 19  role                100249 non-null  category
 20  endOfParticipation  100249 non-null  bool
dtypes: bool(1), category(11), datetime64[ns](2), float64(2), int64(2), object(3)
memory usage: 9.1+ MB
None

In [247]:
print(fulldf.dtypes)

id                             int64
status                      category
startDate             datetime64[ns]
endDate               datetime64[ns]
ecMaxContribution            float64
legalBasis                  category
fundingScheme               category
objective_y                   object
main_topics                 category
scientific_domain             object
problem_type                category
expected_impact             category
sustainability               float64
semantic_summary              object
SME                            int64
activityType                category
country                     category
nutsCode                    category
order                       category
role                        category
endOfParticipation              bool
dtype: object

# Start dataset

In [282]:
import math
fulldf["problem_type"] = fulldf["problem_type"].astype("object")
fulldf["expected_impact"] = fulldf["expected_impact"].astype("object")
fulldf["sustainability"] = fulldf["sustainability"].astype("object")
fulldf["fundingScheme"] = fulldf["fundingScheme"].astype("object")
for i in range(len(fulldf)):
    if not isinstance(fulldf["scientific_domain"][i], str):
        fulldf["scientific_domain"][i] = "no domain"
    if not isinstance(fulldf["problem_type"][i], str):
        fulldf["problem_type"][i] = "no problem"
    if not isinstance(fulldf["expected_impact"][i], str):
        fulldf["expected_impact"][i] = "no impact"
    if not isinstance(fulldf["fundingScheme"][i], str):
        fulldf["fundingScheme"][i] = "unknown scheme"
    if math.isnan(fulldf["sustainability"][i]):
        fulldf["sustainability"][i] = 0

In [283]:
impact_categories = []
for i in range(len(fulldf)):
    topics = fulldf["expected_impact"][i].split(",")
    for topic in topics:
        new_topic = topic.replace("[", '')
        new_topic = new_topic.replace("]", '')
        new_topic = new_topic.replace("'", '')
        new_topic = new_topic.replace(" ", '')
        new_topic = new_topic.lower()
        if not new_topic in impact_categories:
            impact_categories.append(new_topic)
impact_categories.remove('sustainability')
print(len(impact_categories))

23

In [284]:
print(impact_categories)
print(fulldf["expected_impact"])

['societal', 'economic', 'technological', 'environmental', 'scientific', 'cultural', 'health', 'business', 'globalsecurity', 'policy', 'educational', 'translational', 'noimpact', 'medical', 'historical', 'fundamentalresearch', 'confidential', 'ethical', 'applied', 'clinical', 'political', 'linguistic', 'biological']
0              ['societal', 'economic']
1         ['technological', 'societal']
2         ['technological', 'societal']
3         ['technological', 'societal']
4         ['societal', 'technological']
                      ...
100244    ['societal', 'technological']
100245    ['societal', 'technological']
100246    ['societal', 'technological']
100247    ['societal', 'technological']
100248    ['societal', 'technological']
Name: expected_impact, Length: 100249, dtype: object

In [285]:
import numpy as np
ohe = np.array([0] * (len(impact_categories) * len(fulldf)))
new_ohe = ohe.reshape([len(fulldf), len(impact_categories)])
print(new_ohe)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [286]:
for i in range(len(fulldf)):
    j = 0
    topics = fulldf["expected_impact"][i].split(",")
    new_topics = []
    for topic in topics:
        new_topic = topic.replace("[", '')
        new_topic = new_topic.replace("]", '')
        new_topic = new_topic.replace("'", '')
        new_topic = new_topic.replace(" ", '')
        new_topic = new_topic.lower()
        new_topics.append(new_topic)
    new_topics
    for j in range(len(impact_categories)):
        if impact_categories[j] in new_topics:
            new_ohe[i,j] = 1
        j += 1

In [287]:
import datetime

fulldf["startDate"] = fulldf["startDate"].astype("object")
fulldf["endDate"] = fulldf["endDate"].astype("object")
lengths = []
for i in range(len(fulldf)):
    start_date = fulldf.loc[i, "startDate"]
    end_date = fulldf.loc[i, "endDate"]
    
    if isinstance(start_date, str):
        start_date = datetime.datetime.strptime(start_date, '%Y-%m-%d')
    if isinstance(end_date, str):
        end_date = datetime.datetime.strptime(end_date, '%Y-%m-%d')
    
    length = (end_date - start_date).days
    lengths.append(length)

fulldf["project_length_days"] = lengths

In [288]:
schemes = []
for i in range(len(fulldf)):
    if not fulldf["fundingScheme"][i] in schemes:
        schemes.append(fulldf["fundingScheme"][i])
ohe_schemes = np.array([0] * (len(fulldf) * len(schemes)))
ohe_schemes = ohe_schemes.reshape([len(fulldf), len(schemes)])
for i in range(len(fulldf)):
    j = 0
    for scheme in schemes:
        if scheme == fulldf["fundingScheme"][i]:
            ohe_schemes[i, j] = 1
        j += 1

In [289]:
domains = []
for i in range(len(fulldf)):
    if fulldf["id"][i] not in [101149703, 101101973, 101041246]:
        if isinstance(fulldf["scientific_domain"][i], str) and not fulldf["scientific_domain"][i].lower() in domains:
            domains.append(fulldf["scientific_domain"][i].lower())
ohe_domains = np.array([0] * (len(fulldf) * len(domains)))
ohe_domains = ohe_domains.reshape([len(fulldf), len(domains)])
for i in range(len(fulldf)):
    if fulldf["id"][i] not in [101149703, 101101973, 101041246]:
        j = 0
        for domain in domains:
            if isinstance(fulldf["scientific_domain"][i], str) and domain == fulldf["scientific_domain"][i].lower():
                ohe_domains[i, j] = 1
            j += 1

In [290]:
problems = []
for i in range(len(fulldf)):
    if not fulldf["problem_type"][i].lower() in problems:
         problems.append(fulldf["problem_type"][i].lower())
ohe_problems = np.array([0] * (len(fulldf) * len(problems)))
ohe_problems = ohe_problems.reshape([len(fulldf), len(problems)])
for i in range(len(fulldf)):
    j = 0
    for problem in problems:
        if problem == fulldf["problem_type"][i].lower():
            ohe_problems[i, j] = 1
        j += 1

In [291]:
for i in range(len(problems)):
    fulldf.insert(len(fulldf.columns), problems[i], ohe_problems[:,i])
for i in range(len(impact_categories)):
    fulldf.insert(len(fulldf.columns), impact_categories[i] + "_impact", new_ohe[:,i])
for i in range(len(schemes)):
    fulldf.insert(len(fulldf.columns), schemes[i], ohe_schemes[:,i])
for i in range(len(domains)):
    fulldf.insert(len(fulldf.columns), domains[i] + "_domain", ohe_domains[:,i])

ValueError: cannot insert fundamental research, already exists

In [ ]:
print(fulldf.head())
print(fulldf.info())
print(fulldf.describe())

          id  status            startDate              endDate  \
0  101116741  SIGNED  2024-02-01 00:00:00  2029-01-31 00:00:00
1  101163161  SIGNED  2025-08-01 00:00:00  2031-07-31 00:00:00
2  101163161  SIGNED  2025-08-01 00:00:00  2031-07-31 00:00:00
3  101163161  SIGNED  2025-08-01 00:00:00  2031-07-31 00:00:00
4  101160499  SIGNED  2025-06-01 00:00:00  2030-05-31 00:00:00

   ecMaxContribution   legalBasis    fundingScheme  \
0          1499998.0  HORIZON.1.1      HORIZON-ERC
1         12085363.0  HORIZON.1.1  HORIZON-ERC-SYG
2         12085363.0  HORIZON.1.1  HORIZON-ERC-SYG
3         12085363.0  HORIZON.1.1  HORIZON-ERC-SYG
4          1489128.0  HORIZON.1.1      HORIZON-ERC

                                         objective_y  \
0  How do longstanding, primarily non-industrial,...
1  The James Webb Space Telescope (JWST) has ushe...
2  The James Webb Space Telescope (JWST) has ushe...
3  The James Webb Space Telescope (JWST) has ushe...
4  The spatiotemporal organization of the cell ma...

                                         main_topics scientific_domain  ...  \
0  ['digital technologies', 'economic diversity',...      Anthropology  ...
1  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
2  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
3  ['Astrochemistry', 'Quantum Dynamics', 'Infrar...           Physics  ...
4  ['biophysics', 'molecular biology', 'computati...           biology  ...

  musicology_domain oceanography_domain astronomy_domain urban studies_domain  \
0                 0                   0                0                    0
1                 0                   0                0                    0
2                 0                   0                0                    0
3                 0                   0                0                    0
4                 0                   0                0                    0

   nuclear engineering_domain literature_domain material science_domain  \
0                           0                 0                       0
1                           0                 0                       0
2                           0                 0                       0
3                           0                 0                       0
4                           0                 0                       0

  cognitive science_domain confidential_domain  \
0                        0                   0
1                        0                   0
2                        0                   0
3                        0                   0
4                        0                   0

  urban planning and sustainability - interdisciplinary_domain
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

[5 rows x 205 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100249 entries, 0 to 100248
Columns: 205 entries, id to urban planning and sustainability - interdisciplinary_domain
dtypes: bool(1), category(8), float64(1), int64(185), object(10)
memory usage: 151.8+ MB
None
                 id  ecMaxContribution            SME  project_length_days  \
count  1.002490e+05       1.002490e+05  100249.000000        100249.000000
mean   1.015230e+08       8.028732e+06       0.188680          1332.213279
std    6.024056e+06       2.758056e+07       0.391256           369.285480
min    1.010390e+08       4.659400e+04       0.000000           121.000000
25%    1.010799e+08       2.499224e+06       0.000000          1095.000000
50%    1.011127e+08       4.366775e+06       0.000000          1460.000000
75%    1.011393e+08       7.498762e+06       0.000000          1460.000000
max    1.901999e+08       5.494420e+08       1.000000          3652.000000

       fundamental research  applied research  translational research  \
count         100249.000000     100249.000000           100249.000000
mean               0.162954          0.736875                0.099243
std                0.369326          0.440332                0.298989
min                0.000000          0.000000                0.000000
25%                0.000000          0.000000                0.000000
50%                0.000000          1.000000                0.000000
75%                0.000000          1.000000                0.000000
max                1.000000          1.000000                1.000000

          no problem   confidential  societal_impact  ...  musicology_domain  \
count  100249.000000  100249.000000    100249.000000  ...      100249.000000
mean        0.000918       0.000010         0.926004  ...           0.000469
std         0.030280       0.003158         0.261765  ...           0.021648
min         0.000000       0.000000         0.000000  ...           0.000000
25%         0.000000       0.000000         1.000000  ...           0.000000
50%         0.000000       0.000000         1.000000  ...           0.000000
75%         0.000000       0.000000         1.000000  ...           0.000000
max         1.000000       1.000000         1.000000  ...           1.000000

       oceanography_domain  astronomy_domain  urban studies_domain  \
count        100249.000000     100249.000000         100249.000000
mean              0.000738          0.001247              0.002135
std               0.027159          0.035290              0.046154
min               0.000000          0.000000              0.000000
25%               0.000000          0.000000              0.000000
50%               0.000000          0.000000              0.000000
75%               0.000000          0.000000              0.000000
max               1.000000          1.000000              1.000000

       nuclear engineering_domain  literature_domain  material science_domain  \
count               100249.000000      100249.000000            100249.000000
mean                     0.004638           0.000200                 0.000160
std                      0.067948           0.014123                 0.012632
min                      0.000000           0.000000                 0.000000
25%                      0.000000           0.000000                 0.000000
50%                      0.000000           0.000000                 0.000000
75%                      0.000000           0.000000                 0.000000
max                      1.000000           1.000000                 1.000000

       cognitive science_domain  confidential_domain  \
count             100249.000000        100249.000000
mean                   0.000150             0.000010
std                    0.012231             0.003158
min                    0.000000             0.000000
25%                    0.000000             0.000000
50%                    0.000000             0.000000
75%                    0.000000             0.000000
max                    1.000000             1.000000

       urban planning and sustainability - interdisciplinary_domain
count                                      100249.000000
mean                                            0.000269
std                                             0.016409
min                                             0.000000
25%                                             0.000000
50%                                             0.000000
75%                                             0.000000
max                                             1.000000

[8 rows x 186 columns]

In [ ]:
print(fulldf["country"].unique())

['NL', 'DK', 'DE', 'ES', 'EL', ..., 'NI', 'GM', 'KW', 'NC', 'SD']
Length: 171
Categories (170, object): ['AD', 'AE', 'AF', 'AI', ..., 'XK', 'ZA', 'ZM', 'ZW']

In [297]:
country_to_continent = {
    'AD': 'Europe', 'AE': 'Asia', 'AF': 'Asia', 'AG': 'North America',
    'AI': 'North America', 'AL': 'Europe', 'AM': 'Asia', 'AO': 'Africa',
    'AQ': 'Antarctica', 'AR': 'South America', 'AS': 'Oceania', 'AT': 'Europe',
    'AU': 'Oceania', 'AW': 'North America', 'AX': 'Europe', 'AZ': 'Asia',
    'BA': 'Europe', 'BB': 'North America', 'BD': 'Asia', 'BE': 'Europe',
    'BF': 'Africa', 'BG': 'Europe', 'BH': 'Asia', 'BI': 'Africa',
    'BJ': 'Africa', 'BL': 'North America', 'BM': 'North America', 'BN': 'Asia',
    'BO': 'South America', 'BQ': 'North America', 'BR': 'South America', 'BS': 'North America',
    'BT': 'Asia', 'BV': 'Antarctica', 'BW': 'Africa', 'BY': 'Europe',
    'BZ': 'North America', 'CA': 'North America', 'CC': 'Asia', 'CD': 'Africa',
    'CF': 'Africa', 'CG': 'Africa', 'CH': 'Europe', 'CI': 'Africa',
    'CK': 'Oceania', 'CL': 'South America', 'CM': 'Africa', 'CN': 'Asia',
    'CO': 'South America', 'CP': 'North America', 'CR': 'North America', 'CU': 'North America',
    'CV': 'Africa', 'CW': 'North America', 'CX': 'Asia', 'CY': 'Europe',
    'CZ': 'Europe', 'DE': 'Europe', 'DJ': 'Africa', 'DK': 'Europe',
    'DM': 'North America', 'DO': 'North America', 'DZ': 'Africa', 'EC': 'South America',
    'EE': 'Europe', 'EG': 'Africa', 'EH': 'Africa', "EL": "Europe", 'ER': 'Africa',
    'ES': 'Europe', 'ET': 'Africa', 'FI': 'Europe', 'FJ': 'Oceania',
    'FK': 'South America', 'FM': 'Oceania', 'FO': 'Europe', 'FR': 'Europe',
    'GA': 'Africa', 'GD': 'North America', 'GE': 'Asia', 'GF': 'South America',
    'GG': 'Europe', 'GH': 'Africa', 'GI': 'Europe', 'GL': 'North America',
    'GM': 'Africa', 'GN': 'Africa', 'GP': 'North America', 'GQ': 'Africa',
    'GS': 'Antarctica', 'GT': 'North America', 'GU': 'Oceania', 'GW': 'Africa',
    'GY': 'South America', 'HK': 'Asia', 'HM': 'Antarctica', 'HN': 'North America',
    'HR': 'Europe', 'HT': 'North America', 'HU': 'Europe', 'ID': 'Asia',
    'IE': 'Europe', 'IL': 'Asia', 'IM': 'Europe', 'IN': 'Asia',
    'IO': 'Asia', 'IQ': 'Asia', 'IR': 'Asia', 'IS': 'Europe',
    'IT': 'Europe', 'JE': 'Europe', 'JM': 'North America', 'JO': 'Asia',
    'JP': 'Asia', 'KE': 'Africa', 'KG': 'Asia', 'KH': 'Asia',
    'KI': 'Oceania', 'KM': 'Africa', 'KN': 'North America', 'KP': 'Asia',
    'KR': 'Asia', 'KW': 'Asia', 'KY': 'North America', 'KZ': 'Asia',
    'LA': 'Asia', 'LB': 'Asia', 'LC': 'North America', 'LI': 'Europe',
    'LK': 'Asia', 'LR': 'Africa', 'LS': 'Africa', 'LT': 'Europe',
    'LU': 'Europe', 'LV': 'Europe', 'LY': 'Africa', 'MA': 'Africa',
    'MC': 'Europe', 'MD': 'Europe', 'ME': 'Europe', 'MF': 'North America',
    'MG': 'Africa', 'MH': 'Oceania', 'MK': 'Europe', 'ML': 'Africa',
    'MM': 'Asia', 'MN': 'Asia', 'MO': 'Asia', 'MP': 'Oceania',
    'MQ': 'North America', 'MR': 'Africa', 'MS': 'North America', 'MT': 'Europe',
    'MU': 'Africa', 'MV': 'Asia', 'MW': 'Africa', 'MX': 'North America',
    'MY': 'Asia', 'MZ': 'Africa', 'NC': 'Oceania', 'NE': 'Africa',
    'NF': 'Oceania', 'NG': 'Africa', 'NI': 'North America', 'NL': 'Europe',
    'NO': 'Europe', 'NP': 'Asia', 'NR': 'Oceania', 'NU': 'Oceania',
    'NZ': 'Oceania', 'OM': 'Asia', 'PA': 'North America', 'PE': 'South America',
    'PF': 'Oceania', 'PG': 'Oceania', 'PH': 'Asia', 'PK': 'Asia',
    'PL': 'Europe', 'PM': 'North America', 'PN': 'Oceania', 'PR': 'North America',
    'PS': 'Asia', 'PT': 'Europe', 'PW': 'Oceania', 'PY': 'South America',
    'QA': 'Asia', 'RE': 'Africa', 'RO': 'Europe', 'RS': 'Europe',
    'RU': 'Europe', 'RW': 'Africa', 'SA': 'Asia', 'SB': 'Oceania',
    'SC': 'Africa', 'SD': 'Africa', 'SE': 'Europe', 'SG': 'Asia',
    'SH': 'Africa', 'SI': 'Europe', 'SJ': 'Europe', 'SK': 'Europe',
    'SL': 'Africa', 'SM': 'Europe', 'SN': 'Africa', 'SO': 'Africa',
    'SR': 'South America', 'SS': 'Africa', 'ST': 'Africa', 'SV': 'North America',
    'SX': 'North America', 'SY': 'Asia', 'SZ': 'Africa', 'TC': 'North America',
    'TD': 'Africa', 'TF': 'Antarctica', 'TG': 'Africa', 'TH': 'Asia',
    'TJ': 'Asia', 'TK': 'Oceania', 'TL': 'Asia', 'TM': 'Asia',
    'TN': 'Africa', 'TO': 'Oceania', 'TR': 'Asia', 'TT': 'North America',
    'TV': 'Oceania', 'TW': 'Asia', 'TZ': 'Africa', 'UA': 'Europe',
    'UG': 'Africa', 'UK': 'Europe', 'UM': 'Oceania', 'US': 'North America',
    'UY': 'South America', 'UZ': 'Asia', 'VA': 'Europe', 'VC': 'North America',
    'VE': 'South America', 'VG': 'North America', 'VI': 'North America', 'VN': 'Asia',
    'VU': 'Oceania', 'WF': 'Oceania', 'WS': 'Oceania', 'XK': 'Europe',
    'YE': 'Asia', 'YT': 'Africa', 'ZA': 'Africa', 'ZM': 'Africa',
    'ZW': 'Africa'
}
fulldf['continent'] = fulldf['country'].apply(lambda code: country_to_continent.get(code, 'Unknown'))

In [298]:
print(fulldf["continent"].value_counts())

continent
Europe           94384
Asia              2667
North America     1375
Africa            1163
South America      401
Oceania            246
Name: count, dtype: int64

In [300]:
fulldf['number_of_organizations'] = fulldf.groupby('id')['id'].transform('count')

C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3924612764.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf['number_of_organizations'] = fulldf.groupby('id')['id'].transform('count')

In [316]:
fulldf['number_of_small_and_medium_orgs'] = fulldf.groupby('id')['SME'].transform('sum')

In [317]:
fulldf = fulldf.sort_values(by = "id")

In [312]:
print(fulldf.head(100))

              id  status            startDate              endDate  \
78840  101039048  SIGNED  2022-02-01 00:00:00  2027-01-31 00:00:00
78907  101039060  SIGNED  2023-09-01 00:00:00  2028-08-31 00:00:00
78906  101039060  SIGNED  2023-09-01 00:00:00  2028-08-31 00:00:00
78908  101039060  SIGNED  2023-09-01 00:00:00  2028-08-31 00:00:00
78613  101039066  SIGNED  2023-01-01 00:00:00  2027-12-31 00:00:00
...          ...     ...                  ...                  ...
78734  101039683  SIGNED  2023-01-01 00:00:00  2027-12-31 00:00:00
78497  101039692  SIGNED  2022-09-01 00:00:00  2027-08-31 00:00:00
78839  101039706  SIGNED  2022-12-01 00:00:00  2027-11-30 00:00:00
78875  101039711  SIGNED  2022-09-01 00:00:00  2027-08-31 00:00:00
78751  101039712  SIGNED  2022-07-01 00:00:00  2027-06-30 00:00:00

       ecMaxContribution   legalBasis fundingScheme  \
78840          1496205.0  HORIZON.1.1   HORIZON-ERC
78907          1499150.0  HORIZON.1.1   HORIZON-ERC
78906          1499150.0  HORIZON.1.1   HORIZON-ERC
78908          1499150.0  HORIZON.1.1   HORIZON-ERC
78613          1482050.0  HORIZON.1.1   HORIZON-ERC
...                  ...          ...           ...
78734          1875938.0  HORIZON.1.1           ERC
78497          1433750.0  HORIZON.1.1    HORIZON-AG
78839          1500000.0  HORIZON.1.1   HORIZON-ERC
78875          1499856.0  HORIZON.1.1   HORIZON-ERC
78751          1500000.0  HORIZON.1.1   HORIZON-ERC

                                             objective_y  \
78840  The recent detection of the coherent elastic n...
78907  The transition from foraging to farming repres...
78906  The transition from foraging to farming repres...
78908  The transition from foraging to farming repres...
78613  The capacity of future forests to support biod...
...                                                  ...
78734  The time is right for light-emitting colloidal...
78497  Recent years have witnessed tremendous progres...
78839  While sensory systems report sensory input wit...
78875  Homo sapiens emerged in Africa in the Middle P...
78751  Our ability to interact with our visual world ...

                                             main_topics scientific_domain  \
78840  ['neutrino physics', 'particle detection techn...           Physics
78907  ['agriculture', 'hunter-gatherers', 'archaeobo...       Archaeology
78906  ['agriculture', 'hunter-gatherers', 'archaeobo...       Archaeology
78908  ['agriculture', 'hunter-gatherers', 'archaeobo...       Archaeology
78613  ['forest ecology', 'climate change', 'biodiver...           ecology
...                                                  ...               ...
78734  ['quantum optics', 'nanomaterial design', 'pho...           Physics
78497  ['Machine Learning', 'Generalization Theory', ...  Computer Science
78839             ['neuroscience', 'behavioral biology']           biology
78875  ['Human dispersal', 'Climate change adaptation...       Archaeology
78751  ['visual processing', 'neuroscience', 'artific...      Neuroscience

       ... urban studies_domain nuclear engineering_domain literature_domain  \
78840  ...                    0                          0                 0
78907  ...                    0                          0                 0
78906  ...                    0                          0                 0
78908  ...                    0                          0                 0
78613  ...                    0                          0                 0
...    ...                  ...                        ...               ...
78734  ...                    0                          0                 0
78497  ...                    0                          0                 0
78839  ...                    0                          0                 0
78875  ...                    0                          0                 0
78751  ...                    0                          0                 0

      material science_domain  cognitive science_domain confidential_domain  \
78840                       0                         0                   0
78907                       0                         0                   0
78906                       0                         0                   0
78908                       0                         0                   0
78613                       0                         0                   0
...                       ...                       ...                 ...
78734                       0                         0                   0
78497                       0                         0                   0
78839                       0                         0                   0
78875                       0                         0                   0
78751                       0                         0                   0

      urban planning and sustainability - interdisciplinary_domain continent  \
78840                                                  0              Europe
78907                                                  0              Europe
78906                                                  0              Europe
78908                                                  0              Europe
78613                                                  0              Europe
...                                                  ...                 ...
78734                                                  0              Europe
78497                                                  0                Asia
78839                                                  0              Europe
78875                                                  0              Europe
78751                                                  0              Europe

      number_of_organizations number_of_small_and_medium_orgs
78840                       1                               0
78907                       3                               0
78906                       3                               0
78908                       3                               0
78613                       1                               0
...                       ...                             ...
78734                       2                               0
78497                       1                               0
78839                       1                               0
78875                       1                               0
78751                       2                               0

[100 rows x 208 columns]

In [319]:
fulldf["proportion_MSE"] = fulldf["number_of_small_and_medium_orgs"] / fulldf['number_of_organizations']

C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\4019369015.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf["proportion_MSE"] = fulldf["number_of_small_and_medium_orgs"] / fulldf['number_of_organizations']

In [323]:
df_MSE = fulldf[["SME", 'number_of_organizations', 'number_of_small_and_medium_orgs', "proportion_MSE"]]
print(df_MSE.head(70))

       SME  number_of_organizations  number_of_small_and_medium_orgs  \
78840    0                        1                                0
78907    0                        3                                0
78906    0                        3                                0
78908    0                        3                                0
78613    0                        1                                0
...    ...                      ...                              ...
78616    0                        1                                0
78731    0                        1                                0
78897    0                        1                                0
78534    0                        1                                0
78931    0                        2                                0

       proportion_MSE
78840             0.0
78907             0.0
78906             0.0
78908             0.0
78613             0.0
...               ...
78616             0.0
78731             0.0
78897             0.0
78534             0.0
78931             0.0

[70 rows x 4 columns]

In [324]:
df_MSE.to_csv(r".\MSE.csv")

In [326]:
unique_continents_per_id = fulldf.groupby('id')['continent'].agg(lambda x: list(x.unique()))
fulldf['all_continents'] = fulldf['id'].map(unique_continents_per_id)

C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\1296580643.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf['all_continents'] = fulldf['id'].map(unique_continents_per_id)

In [329]:
df_allcont = fulldf[["id", "continent", "all_continents"]]
df_allcont.to_csv(r".\cont.csv")

In [330]:
# Unieke waarden in all_continents ophalen
unique_continents = set([continent for sublist in fulldf['all_continents'] for continent in sublist])

# Nieuwe kolommen maken en waarden toewijzen
for continent in unique_continents:
    fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)

C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)
C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)
C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)
C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)
C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)
C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)
C:\Users\kian3\AppData\Local\Temp\ipykernel_19488\3304849529.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  fulldf[continent] = fulldf['all_continents'].apply(lambda x: 1 if continent in x else 0)

In [331]:
df_allcont2 = fulldf[["id", "continent", "all_continents", "Europe", "Asia", "North America", "Africa", "South America", "Oceania"]]
df_allcont2.to_csv(r".\allcont2.csv")

In [333]:
fulldf = fulldf.drop(columns=["SME", "continent", "country", "nutsCode", "activityType", "endOfParticipation", "order", "role"])

In [335]:
# Houd alleen de eerste rij per id
fulldf = fulldf.drop_duplicates(subset='id', keep='first')

# Controleer het resultaat
print(fulldf.head())
print(fulldf.info())
print(fulldf.shape)

              id  status            startDate              endDate  \
78840  101039048  SIGNED  2022-02-01 00:00:00  2027-01-31 00:00:00
78907  101039060  SIGNED  2023-09-01 00:00:00  2028-08-31 00:00:00
78613  101039066  SIGNED  2023-01-01 00:00:00  2027-12-31 00:00:00
78766  101039090  SIGNED  2022-04-01 00:00:00  2027-03-31 00:00:00
78528  101039098  SIGNED  2023-03-01 00:00:00  2028-02-29 00:00:00

       ecMaxContribution   legalBasis fundingScheme  \
78840          1496205.0  HORIZON.1.1   HORIZON-ERC
78907          1499150.0  HORIZON.1.1   HORIZON-ERC
78613          1482050.0  HORIZON.1.1   HORIZON-ERC
78766          1495000.0  HORIZON.1.1    HORIZON-AG
78528          1458688.0  HORIZON.1.1   HORIZON-ERC

                                             objective_y  \
78840  The recent detection of the coherent elastic n...
78907  The transition from foraging to farming repres...
78613  The capacity of future forests to support biod...
78766  Computational thinking and problem solving ski...
78528  Quantum technology will revolutionize informat...

                                             main_topics scientific_domain  \
78840  ['neutrino physics', 'particle detection techn...           Physics
78907  ['agriculture', 'hunter-gatherers', 'archaeobo...       Archaeology
78613  ['forest ecology', 'climate change', 'biodiver...           ecology
78766  ['Computational thinking', 'Machine-assisted t...         education
78528  ['Quantum technology', 'Topological protection...           Physics

       ... number_of_small_and_medium_orgs proportion_MSE all_continents Asia  \
78840  ...                               0            0.0       [Europe]    0
78907  ...                               0            0.0       [Europe]    0
78613  ...                               0            0.0       [Europe]    0
78766  ...                               0            0.0       [Europe]    0
78528  ...                               0            0.0       [Europe]    0

      Europe  Oceania  NaN  South America  Africa  North America
78840      1        0    0              0       0              0
78907      1        0    0              0       0              0
78613      1        0    0              0       0              0
78766      1        0    0              0       0              0
78528      1        0    0              0       0              0

[5 rows x 209 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 15341 entries, 78840 to 99900
Columns: 209 entries, id to North America
dtypes: category(3), float64(2), int64(193), object(11)
memory usage: 24.9+ MB
None
(15341, 209)

In [337]:
fulldf.to_excel(r".\test.xlsx")